# PubSub connector application name.
appName: "pubsub-connector"
pubsubGateway:
  # PubSub gateway image.
  image: "eu.gcr.io/kyma-project/test-infra/pubsub-gateway:PR-3626"
  # Subscription ID to pull messages from.
  pubsubSubscriptionID: "oom-event-found-sub"
  # Slack channel name to send messages.
  notificationSlackChannel: "kyma-neighbors"
  # Forwarded event type
  eventType: "oomevent.found.v1"
  # GCP project with pubsub subscription
  projectID: "sap-kyma-prow"
  # secret name containing keys of SA with subscriber role on a pubsub subscription
  subscriberSaSecret: "subscriber-sa"
  # Kyma cluster FQDN.
  eventPublisherProxyURL: "http://eventing-event-publisher-proxy.kyma-system/publish"
slackConnector:
  # Slack application plan suffix. Must match suffix from CMP.
  cmpSlackAppPlanSuffix: "36130"
  # Slack connector API ID
  apiId: "85ded56e-303b-43b3-a950-8b1c3d519561"
  # Slack application plan name
  cmpSlackAppPlan: "slack-connector"
  # Slack connector application name. Must match name from Application resource.
  slackAppName: "mp-slack-connector"
  # Secret name with slack bot token.
  botTokenSecret: "slack-bot-token"
  # Secret key name with slack bot token.
  botTokenSecretKey: "token"
  # Token fake value.
  botToken: "fake_token"
function:
  oomevent:
    found:
      # Repository URL with function code.
      #repositoryUrl: "https://github.com/kyma-project/test-infra.git"
      repositoryUrl: "https://github.com/dekiel/test-infra.git"
      # Path to directory with function code. Relative to repository root.
      functionBaseDir: "/development/pubsub-connector/oomFoundFunction"
      # Branch name with function code.
      branch: "fix-gh-connector"
