{{- define "commonProwJob" }}
    - name: {{if .JobConfig.name}}{{.JobConfig.name}}{{else}}{{fail ".JobConfig.name is not defined"}}{{end}}
      {{- if .JobConfig.annotations}}
      annotations:
        {{- range $key, $value := .JobConfig.annotations}}
        {{$key}}: {{quote $value}}
        {{- end}}
      {{- end}}
      labels:
        prow.k8s.io/pubsub.project: {{if .JobConfig.pubsub_project}}{{quote .JobConfig.pubsub_project}}{{else}}{{fail "mandatory .JobConfig.pubsub_project is not defined, probably globalSet jobConfig_default not inherited"}}{{end}}
        prow.k8s.io/pubsub.runID: {{ getRunId .JobConfig.name }}
        prow.k8s.io/pubsub.topic: {{if .JobConfig.pubsub_topic}}{{quote .JobConfig.pubsub_topic}}{{else}}{{fail "mandatory .JobConfig.pubsub_topic is not defined, probably globalSet jobConfig_default not inherited"}}{{end}}
        {{- if .JobConfig.labels}}
        {{- range $key, $value := .JobConfig.labels}}
        {{$key}}: {{quote $value}}
        {{- end}}
        {{- end}}
      {{- if .JobConfig.type_periodic }}
        {{- if .JobConfig.cron}}
      cron: {{quote .JobConfig.cron}}
        {{- else if .JobConfig.interval}}
      interval: {{.JobConfig.interval}}
        {{- else}}{{fail ".JobConfig.cron and .JobConfig.interval are not defined"}}{{end}}
      {{- else if .JobConfig.run_if_changed}}
      run_if_changed: {{squote .JobConfig.run_if_changed}}
      {{- else if .JobConfig.always_run}}
      always_run: {{.JobConfig.always_run}}
      {{- end}}
      {{- if .JobConfig.optional}}
      optional: {{.JobConfig.optional}}
      {{- end}}
      skip_report: {{if .JobConfig.skip_report}}{{.JobConfig.skip_report}}{{else}}{{fail ".JobConfig.skip_report is not defined"}}{{end}}
      {{- if .JobConfig.decorate}}
      decorate: {{.JobConfig.decorate}}
      {{- end}}
      {{- if .JobConfig.decoration_config }}
      decoration_config:
        {{- range $key, $value := .JobConfig.decoration_config}}
        {{$key}}: {{$value}}
        {{- end}}
      {{- end}}
      {{- if .JobConfig.path_alias }}
      path_alias: {{ .JobConfig.path_alias }}
      {{- end }}
      {{- if .JobConfig.cluster}}
      cluster: {{.JobConfig.cluster }}
      {{- else}}{{ fail ".JobConfig.cluster is not defined"}}{{end}}
      {{- if not .JobConfig.type_periodic}}
      max_concurrency: {{if .JobConfig.max_concurrency}}{{.JobConfig.max_concurrency}}{{else}}{{fail ".JobConfig.max_concurrency is not defined"}}{{end}}
      {{- if .JobConfig.branches}}
      branches:
          {{- range .JobConfig.branches}}
        - {{ . }}
          {{- end}}
      {{- end}}
      {{- end}}
      {{- if .JobConfig.extra_refs}}
      extra_refs:
        {{- range  $key, $value := .JobConfig.extra_refs}}
          {{- range $value}}
        - org: {{ .org }}
          repo: {{ .repo }}
          path_alias: {{ .path_alias }}
          base_ref: {{ .base_ref}}
            {{- if .base_sha}}
          base_sha: {{ .base_sha}}
            {{- end}}
          {{- end}}
        {{- end}}
      {{- end}}
      {{- if .JobConfig.slack_channel}}
      reporter_config:
        slack:
          channel: {{ .JobConfig.slack_channel }}
      {{- end}}
      spec:
        {{- if .JobConfig.serviceAccountName}}
        serviceAccountName: {{.JobConfig.serviceAccountName}}
        {{- end}}
        {{- if .JobConfig.automountServiceAccountToken}}
        automountServiceAccountToken: {{.JobConfig.automountServiceAccountToken}}
        {{- end}}
        containers:
          - image: {{ if .JobConfig.image }}{{quote .JobConfig.image}}{{else}}{{ fail ".JobConfig.image is not defined" }}{{end}}
            {{- if .JobConfig.imagePullPolicy }}
            imagePullPolicy: {{ .JobConfig.imagePullPolicy }}
            {{- end }}
            {{- if .JobConfig.automountServiceAccountToken}}
            automountServiceAccountToken: {{.JobConfig.automountServiceAccountToken}}
            {{- end}}
            {{- if .JobConfig.privileged}}
            securityContext:
              privileged: {{.JobConfig.privileged}}
            {{- end}}
            {{- if .JobConfig.workingDir}}
            workingDir: {{quote .JobConfig.workingDir}}
            {{- end}}
            command:
              {{- if .JobConfig.command }}
              - {{ quote .JobConfig.command }}
              {{- else}} {{fail ".JobConfig.command is not defined"}}
              {{- end }}
            {{- with .JobConfig.args}}
            args:
              {{- range . }}
              - "{{ . }}"
              {{- end}}
            {{- end}}
            {{- with .JobConfig.env}}
            env:
              {{- range $key, $value := . }}
              - name: {{$key}}
                value: "{{$value}}"
              {{- end}}
            {{- end}}
            {{- if or .JobConfig.request_memory .JobConfig.request_cpu false}}
            resources:
              requests:
                {{- if .JobConfig.request_memory}}
                memory: {{.JobConfig.request_memory}}
                {{- end}}
                {{- if .JobConfig.request_cpu}}
                cpu: {{.JobConfig.request_cpu}}
                {{- end}}
            {{- end}}
            {{- if .JobConfig.volumeMounts}}
            volumeMounts:
              {{- range .JobConfig.volumeMounts}}
              - name: {{ .name }}
                mountPath: {{ .mountPath }}
                {{- if .readOnly }}
                readOnly: {{ .readOnly}}
                {{- end }}
              {{- end}}
            {{- end}}
        {{- with .JobConfig.tolerations }}
        tolerations:
        {{- range . }}
          - key: {{ .key }}
            operator: {{ .operator }}
            value: {{ .value }}
            effect: {{ .effect }}
        {{- end }}
        {{- end }}
        {{- with .JobConfig.nodeSelector }}
        nodeSelector:
            {{- range $key, $value := .}}
            {{$key}}: {{quote $value}}
            {{- end}}
        {{- end}}
        {{- if .JobConfig.volumes}}
        volumes:
          {{- range .JobConfig.volumes}}
          - name: {{ .name }}
            {{- if and .secretName .configMapName }}{{fail "secretName and configMapName are mutually exclusive. Use only one of them."}}{{end}}
            {{- if .secretName }}
            secret:
              secretName: {{ .secretName }}
            {{- end }}
            {{- if .configMapName }}
            configMap:
              name: {{ .configMapName }}
            {{- end }}
          {{- end}}
        {{- end}}
{{- end -}}
{{- if hasPresubmit .Values.JobConfigs}}
presubmits: # runs on PRs
  {{- range .Values.JobConfigs }}
  {{ replace "github.com/" "" .RepoName -}}:
    {{- range .Jobs -}}
      {{- if .JobConfig.type_presubmit }}
      {{- template "commonProwJob" . }}
      {{- end}}
    {{- end}}
  {{end}}
{{- end}}
{{- if hasPostsubmit .Values.JobConfigs}}
postsubmits: # runs on main
  {{- range .Values.JobConfigs }}
  {{ replace "github.com/" "" .RepoName -}}:
    {{- range .Jobs -}}
      {{- if .JobConfig.type_postsubmit }}
      {{- template "commonProwJob" . }}
      {{- end}}
    {{- end}}
  {{end}}
{{- end}}
{{- if hasPeriodic .Values.JobConfigs}}
periodics: # runs on schedule
  {{- range .Values.JobConfigs }}
  {{- range .Jobs -}}
  {{- if .JobConfig.type_periodic }}
  {{- template "commonProwJob" . }}
  {{- end}}
  {{- end}}
  {{end}}
{{- end -}}
