package releases

// List of currently supported releases
var (
	Release{{ .Global.nextRelease | replace "." "" }}  = mustParse("{{ .Global.nextRelease }}")
{{- range $r := .Global.releases }}
	Release{{ printf "%-4v" $r | replace "." "" }} = mustParse("{{ $r }}")
{{- end }}
)

// GetAllKymaReleases returns all supported kyma release branches
func GetAllKymaReleases() []*SupportedRelease {
	return []*SupportedRelease{
{{- range .Global.releases }}
		Release{{ . | replace "." "" }},
{{- end }}
	}
}

// GetNextKymaRelease returns the version of kyma currently under development
func GetNextKymaRelease() *SupportedRelease {
	return Release{{ .Global.nextRelease | replace "." "" }}
}
