{{- define "pipelineRow" }}
{{- if .JobConfig.annotations }}
| {{if .JobConfig.name}}{{.JobConfig.name}}{{else}}{{fail ".JobConfig.name is not defined"}}{{end}} | {{ or (index .JobConfig.annotations  "pipeline.platform") "" }} | {{ or (index .JobConfig.annotations  "pipeline.clusterprovisioning") "" }} | {{ or (index .JobConfig.annotations  "pipeline.installer") "" }} | {{ or (index .JobConfig.annotations  "pipeline.profile") "" }} | {{ or (index .JobConfig.annotations  "pipeline.trigger") "" }} |  {{ or (index .JobConfig.annotations  "pipeline.test") "" }}  |
{{- else }}
| {{if .JobConfig.name}}{{.JobConfig.name}}{{else}}{{fail ".JobConfig.name is not defined"}}{{end}} |
{{- end}}
{{- end}}
| name | platform | cluster-provisioning | installer | profile | trigger | tests |
|:-----|:---------|:---------------------|:----------|:--------|:--------|:------|
{{- range .Values.JobConfigs }}
    {{- range .Jobs}}
    {{- template "pipelineRow" . }}
    {{- end}}
{{- end}}