/development/hmac_token.txt
/development/checker/vendor
/development/tools/vendor

tmp/
.idea/
.vscode/
*.iml
**/*.swp

/prow/images/probot-stale/package-lock.json
/prow/images/probot-stale/node_modules
