/development/hmac_token.txt
/development/checker/vendor
/development/tools/vendor

vendor/
tmp/
.idea/
.vscode/
*.iml
**/*.swp
**/.DS_Store

# Visual Studio Code debug binaries
__debug_bin

/prow/images/probot-stale/package-lock.json
/prow/images/probot-stale/node_modules
/development/kyma-slack-connector/issueLabeledFunction/venv/
/development/kyma-slack-connector/oomFoundFunction/venv/
/development/kyma-slack-connector/notifyCommiterFunction/venv/
