# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.

* @kyma-project/prow @kyma-bot
/development @kyma-project/prow @kyma-bot
/docs @kyma-project/prow @mmitoraj @grego952 @NHingerl @IwonaLanger @nataliasitko @kyma-bot
/prow @kyma-project/prow @kyma-bot
/prow/cluster @kyma-project/prow @kyma-bot
/prow/images @kyma-project/prow @kyma-bot
/prow/images/buildpack-node @kyma-project/prow @akucharska  @a-thaler @lilitgh @valentinvieriu @kyma-bot

/prow/jobs @kyma-project/prow @kyma-bot
/prow/jobs/busola @valentinvieriu  @akucharska @kyma-project/prow @kyma-bot
/prow/jobs/cli @chrkl @jeremyharisch @lindnerby @tobiscr  @lilitgh @rakesh-garimella @skhalash @kyma-project/prow @kyma-bot
/prow/jobs/control-plane @kyma-project/gopher @kyma-project/Framefrog @kyma-project/prow @kyma-bot
/prow/jobs/incubator/compass @gvachkov @petartodorovv @desislavaa @dimitarpetrov @krasish @nickymateev @dzahariev @kirilkabakchiev @stefancholakov @svetlinzarev-sap @dragobt @kaloyanspiridonov @kyma-project/prow @kyma-bot
/prow/jobs/incubator/compass-console @gvachkov @petartodorovv @desislavaa @dimitarpetrov @krasish @nickymateev @dzahariev @kirilkabakchiev @stefancholakov @svetlinzarev-sap @dragobt @kaloyanspiridonov @kyma-project/prow @kyma-bot
/prow/jobs/incubator/milv @m00g3n @pprecel @dbadura @kyma-project/prow @kyma-bot
/prow/jobs/incubator/ord-service @gvachkov @kirilkabakchiev @nickymateev @dzahariev @svetlinzarev-sap @dragobt @kaloyanspiridonov @kyma-project/prow @kyma-bot
/prow/jobs/incubator/reconciler @varbanv @jeremyharisch @tobiscr @kyma-project/prow @kyma-bot
/prow/jobs/kyma/kyma-integration-gardener.yaml @kyma-project/jellyfish @kyma-bot
/prow/jobs/kyma/components/central-application-connectivity-validator @kyma-project/Framefrog @kyma-project/prow @kyma-bot
/prow/jobs/kyma/components/central-application-gateway @kyma-project/prow @kyma-project/Framefrog @kyma-bot
/prow/jobs/kyma/components/compass-runtime-agent @kyma-project/prow @kyma-project/Framefrog @kyma-bot
/prow/jobs/kyma/components/event-publisher-proxy @kyma-project/eventing @kyma-bot
/prow/jobs/kyma/components/eventing-controller @kyma-project/eventing @kyma-bot
/prow/jobs/kyma/components/function-controller @pk85 @dbadura @kwiatekus @m00g3n @pprecel @kyma-project/prow @kyma-bot
/prow/jobs/kyma/components/function-runtimes @dbadura @kwiatekus @m00g3n @pprecel @pk85 @kyma-project/prow @kyma-bot
/prow/jobs/kyma/kyma-integration-gardener-eventing.yaml @kyma-project/prow @kyma-project/eventing @kyma-bot
/prow/jobs/eventing-tools/ @kyma-project/prow @kyma-project/eventing @kyma-bot
/prow/jobs/eventing-webhook/ @kyma-project/prow @kyma-project/eventing @kyma-bot
/prow/jobs/telemetry-manager @kyma-project/observability @kyma-project/prow @kyma-bot
/prow/jobs/directory-size-exporter @kyma-project/observability @kyma-project/prow @kyma-bot
/prow/jobs/kyma/tests/fast-integration @kyma-project/prow @kyma-bot
/prow/jobs/kyma/tests/serverless-bench @pk85 @dbadura @kwiatekus @m00g3n @pprecel @kyma-project/prow @kyma-bot
/prow/jobs/kyma-project/telemetry-manager @kyma-project/observability @kyma-project/prow @kyma-bot
/prow/jobs/istio/ @kyma-project/goat @kyma-bot
/prow/jobs/api-gateway/ @kyma-project/goat @kyma-bot
/prow/scripts @kyma-project/prow @kyma-bot

/templates @kyma-project/prow @kyma-bot
/templates/templates @kyma-project/prow @kyma-bot
templates/data/eventing-tools-data.yaml @kyma-project/prow @kyma-project/eventing @kyma-bot
templates/data/eventing-webhook-certificates-build.yaml @kyma-project/prow @kyma-project/eventing @kyma-bot
templates/data/eventing-webhook-certificates-release.yaml @kyma-project/prow @kyma-project/eventing @kyma-bot

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko @kyma-bot

# Don't require human review for auto generated files
/test-inventory-integration.md

# File index.md must be owned by prow group in case it will get changes in a pull request which is not allowed to be approved by approval bot.
# In such case a human approver from prow group must approve the pull request.
/docs/index.md @kyma-project/prow @kyma-bot
