# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository.
# The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.

# IMPORTANT: Each path must have @neighbors-dev-bot added to let automation work. Having bot added as owner explicitly while it's not a kyma-project/prow group member does not interfere with the request review automation.

* @kyma-project/prow @neighbors-dev-bot
/development @kyma-project/prow @neighbors-dev-bot
/docs @kyma-project/prow @mmitoraj @grego952 @NHingerl @IwonaLanger @nataliasitko @neighbors-dev-bot
/prow @kyma-project/prow @neighbors-dev-bot
/prow/cluster @kyma-project/prow @neighbors-dev-bot
/prow/images @kyma-project/prow @neighbors-dev-bot
/prow/images/buildpack-node @kyma-project/prow @kyma-project/hasselhoff @a-thaler @lilitgh @neighbors-dev-bot

/prow/jobs @kyma-project/prow @neighbors-dev-bot
/prow/jobs/busola @kyma-project/hasselhoff @kyma-project/prow @neighbors-dev-bot
/prow/jobs/cli @chrkl @jeremyharisch @lindnerby @tobiscr  @lilitgh @rakesh-garimella @skhalash @kyma-project/prow @neighbors-dev-bot
/prow/jobs/control-plane @kyma-project/gopher @kyma-project/Framefrog @kyma-project/prow @neighbors-dev-bot
/prow/jobs/incubator/compass @gvachkov @petartodorovv @desislavaa @dimitarpetrov @krasish @nickymateev @dzahariev @kirilkabakchiev @stefancholakov @svetlinzarev-sap @dragobt @kaloyanspiridonov @kyma-project/prow @neighbors-dev-bot
/prow/jobs/incubator/compass-console @gvachkov @petartodorovv @desislavaa @dimitarpetrov @krasish @nickymateev @dzahariev @kirilkabakchiev @stefancholakov @svetlinzarev-sap @dragobt @kaloyanspiridonov @kyma-project/prow @neighbors-dev-bot
/prow/jobs/incubator/milv @m00g3n @pprecel @dbadura @kyma-project/prow @neighbors-dev-bot
/prow/jobs/incubator/ord-service @gvachkov @kirilkabakchiev @nickymateev @dzahariev @svetlinzarev-sap @dragobt @kaloyanspiridonov @kyma-project/prow @neighbors-dev-bot
/prow/jobs/incubator/reconciler @varbanv @jeremyharisch @tobiscr @kyma-project/prow @neighbors-dev-bot
/prow/jobs/kyma/kyma-integration-gardener.yaml @kyma-project/jellyfish @neighbors-dev-bot
/prow/jobs/kyma/components/central-application-connectivity-validator @kyma-project/Framefrog @kyma-project/prow @neighbors-dev-bot
/prow/jobs/kyma/components/central-application-gateway @kyma-project/prow @kyma-project/Framefrog @neighbors-dev-bot
/prow/jobs/kyma/components/compass-runtime-agent @kyma-project/prow @kyma-project/Framefrog @neighbors-dev-bot
/prow/jobs/kyma/components/event-publisher-proxy @kyma-project/eventing @neighbors-dev-bot
/prow/jobs/kyma/components/eventing-controller @kyma-project/eventing @neighbors-dev-bot
/prow/jobs/kyma/components/function-controller @pk85 @dbadura @kwiatekus @m00g3n @pprecel @kyma-project/prow @neighbors-dev-bot
/prow/jobs/kyma/components/function-runtimes @dbadura @kwiatekus @m00g3n @pprecel @pk85 @kyma-project/prow @neighbors-dev-bot
/prow/jobs/kyma/kyma-integration-gardener-eventing.yaml @kyma-project/prow @kyma-project/eventing @neighbors-dev-bot
/prow/jobs/eventing-tools/ @kyma-project/prow @kyma-project/eventing @neighbors-dev-bot
/prow/jobs/eventing-webhook/ @kyma-project/prow @kyma-project/eventing @neighbors-dev-bot
/prow/jobs/nats-manager/ @kyma-project/prow @kyma-project/eventing @neighbors-dev-bot
/prow/jobs/eventing-manager/ @kyma-project/prow @kyma-project/eventing @neighbors-dev-bot
/prow/jobs/telemetry-manager @kyma-project/observability @kyma-project/prow @neighbors-dev-bot
/prow/jobs/directory-size-exporter @kyma-project/observability @kyma-project/prow @neighbors-dev-bot
/prow/jobs/kyma/tests/fast-integration @kyma-project/prow @neighbors-dev-bot
/prow/jobs/kyma/tests/serverless-bench @pk85 @dbadura @kwiatekus @m00g3n @pprecel @kyma-project/prow @neighbors-dev-bot
/prow/jobs/kyma-project/telemetry-manager @kyma-project/observability @kyma-project/prow @neighbors-dev-bot
/prow/jobs/istio/ @kyma-project/goat @neighbors-dev-bot
/prow/jobs/api-gateway/ @kyma-project/goat @neighbors-dev-bot
/prow/scripts @kyma-project/prow @neighbors-dev-bot

/templates @kyma-project/prow @neighbors-dev-bot
/templates/templates @kyma-project/prow @neighbors-dev-bot
templates/data/eventing-tools-data.yaml @kyma-project/prow @kyma-project/eventing @neighbors-dev-bot
templates/data/eventing-webhook-certificates-build.yaml @kyma-project/prow @kyma-project/eventing @neighbors-dev-bot
templates/data/eventing-webhook-certificates-release.yaml @kyma-project/prow @kyma-project/eventing @neighbors-dev-bot
templates/data/nats-manager-data.yaml @kyma-project/prow @kyma-project/eventing @neighbors-dev-bot
templates/data/eventing-manager-data.yaml @kyma-project/prow @kyma-project/eventing @neighbors-dev-bot

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko @neighbors-dev-bot


# File index.md must be owned by prow group in case it will get changes in a pull request which is not allowed to be approved by approval bot.
# In such case a human approver from prow group must approve the pull request.
/docs/index.md @kyma-project/prow @neighbors-dev-bot
