module-name: test-infra
kind: kyma
bdba:
    - europe-docker.pkg.dev/kyma-project/prod/dashboard-token-proxy:v20260123-f3f104d1
    - europe-docker.pkg.dev/kyma-project/prod/github-webhook-gateway:v20260123-f3f104d1
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/rotate-service-account:v20260123-f3f104d1
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/service-account-keys-cleaner:v20260123-f3f104d1
    - europe-docker.pkg.dev/kyma-project/dev/test-infra/signify-secret-rotator:v20260123-7fde78ef
    - europe-docker.pkg.dev/kyma-project/dev/test-infra/slackmessagesender:v20260123-7fde78ef
mend:
    language: golang-mod
    exclude:
        - '**/*_test.go'
checkmarx-one:
    preset: go-default
    exclude:
        - '**/*_test.go'
