module-name: test-infra
protecode:
    - europe-docker.pkg.dev/kyma-project/prod/cors-proxy:v20241001-0e7d9b5c
    - europe-docker.pkg.dev/kyma-project/prod/create-github-issue:v20241001-0e7d9b5c
    - europe-docker.pkg.dev/kyma-project/prod/dashboard-token-proxy:v20241001-0e7d9b5c
    - europe-docker.pkg.dev/kyma-project/prod/github-webhook-gateway:v20241001-0e7d9b5c
    - europe-docker.pkg.dev/kyma-project/prod/move-gcs-bucket:v20241001-0e7d9b5c
    - europe-docker.pkg.dev/kyma-project/prod/scan-logs-for-secrets:v20241001-0e7d9b5c
    - europe-docker.pkg.dev/kyma-project/prod/search-github-issue:v20241001-0e7d9b5c
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/rotate-service-account:v20241001-ea6bb32e
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/service-account-keys-cleaner:v20241001-ea6bb32e
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/signify-secret-rotator:v20240924-997e8b7b
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/slackmessagesender:v20240910-c199525c
whitesource:
    language: golang-mod
    exclude:
        - '**/*_test.go'
