module-name: test-infra
kind: kyma
bdba:
    - europe-docker.pkg.dev/kyma-project/prod/dashboard-token-proxy:v20260115-e65c19e2
    - europe-docker.pkg.dev/kyma-project/prod/github-webhook-gateway:v20260115-e65c19e2
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/rotate-service-account:v20260115-e65c19e2
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/service-account-keys-cleaner:v20260115-e65c19e2
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/signify-secret-rotator:v20251113-b9e254cf
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/slackmessagesender:v20260105-81907f6a
mend:
    language: golang-mod
    exclude:
        - '**/*_test.go'
checkmarx-one:
    preset: go-default
    exclude:
        - '**/*_test.go'
