module-name: test-infra
protecode:
  - docker.io/library/nginx:1.25.3-alpine
  - docker.io/library/nginx:1.25.4-alpine
  - europe-docker.pkg.dev/gardener-project/releases/ci-infra/cla-assistant:v20240412-d22f4bf
  - europe-docker.pkg.dev/gcr-cleaner/gcr-cleaner/gcr-cleaner-cli:0.11.1
  - europe-docker.pkg.dev/kyma-project/prod/buildkit-image-builder:v20240404-09b82328
  - europe-docker.pkg.dev/kyma-project/prod/image-builder:v20240516-5a9a1704
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20240429-870ea518
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/golangci-lint:v20240509-7efe3c8a
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/automated-approver:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/clusterscollector:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/cors-proxy:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/create-github-issue:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/dashboard-token-proxy:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/diskscollector:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/dnscollector:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/gardener-rotate:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/gcscleaner:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/github-webhook-gateway:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/image-detector:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/image-syncer:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/image-url-helper:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/ipcleaner:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/markdown-index:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/move-gcs-bucket:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/orphanremover:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/scan-logs-for-secrets:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/search-github-issue:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/usersmapchecker:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/vmscollector:v20240517-b1613d10
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/rotate-service-account:v20240507-116278d6
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/service-account-keys-cleaner:v20240507-c78f8932
  - europe-docker.pkg.dev/kyma-project/prod/test-infra/slackmessagesender:v20240516-5a9a1704
  - europe-docker.pkg.dev/kyma-project/prod/testimages/alpine-hadolint:v20240516-d002e6ca
  - europe-docker.pkg.dev/kyma-project/prod/testimages/alpine-shellcheck:v20240516-d002e6ca
  - europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20240516-d002e6ca
  - europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20240516-d002e6ca
  - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-dind-k3d:v20240516-d002e6ca
  - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-dind-nodejs:v20240516-d002e6ca
  - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-garden:v20240516-d002e6ca
  - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-gcloud:v20240516-d002e6ca
  - gcr.io/k8s-prow/analyze:v20240430-4359601d0
  - gcr.io/k8s-prow/branchprotector:v20240424-0a3188200
  - gcr.io/k8s-prow/crier:v20240424-0a3188200
  - gcr.io/k8s-prow/deck:v20240424-0a3188200
  - gcr.io/k8s-prow/gcsweb:v20240424-0a3188200
  - gcr.io/k8s-prow/gencred:v20240409-13cd3acf7e
  - gcr.io/k8s-prow/generic-autobumper:v20240424-0a3188200
  - gcr.io/k8s-prow/ghproxy:v20240424-0a3188200
  - gcr.io/k8s-prow/hook:v20240424-0a3188200
  - gcr.io/k8s-prow/horologium:v20240424-0a3188200
  - gcr.io/k8s-prow/prow-controller-manager:v20240424-0a3188200
  - gcr.io/k8s-prow/sinker:v20240424-0a3188200
  - gcr.io/k8s-prow/status-reconciler:v20240424-0a3188200
  - gcr.io/k8s-prow/tide:v20240424-0a3188200
  - maven:3.9.6-eclipse-temurin-17-alpine
  - prom/pushgateway:v1.8.0
  - quay.io/prometheus-operator/prometheus-operator:v0.67.1
whitesource:
  language: golang-mod
  exclude:
    - "**/*_test.go"
