module-name: test-infra
protecode:
    - aquasec/trivy:0.39.0
    - docker.io/nginx:1.23.2-alpine
    - docker.io/zricethezav/gitleaks:v8.15.3
    - eu.gcr.io/kyma-project/incubator/milv:8649c2fb
    - eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
    - eu.gcr.io/kyma-project/test-infra/whitesource-scanner:v20230224-5c582f17
    - eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
    - eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b-buildkit
    - europe-docker.pkg.dev/gcr-cleaner/gcr-cleaner/gcr-cleaner-cli:0.11.1
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20230712-f514770d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/golangci-lint:v20230615-186da159
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/automerge-notification:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/cla-assistant:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/clusterscollector:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/create-github-issue:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/diskscollector:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/dnscollector:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/gardener-rotate:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/gcscleaner:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/githubissues:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/image-detector:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/image-syncer:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/image-url-helper:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/ipcleaner:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/markdown-index:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/move-gcs-bucket:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/needs-tws:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/orphanremover:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/scan-logs-for-secrets:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/search-github-issue:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/usersmapchecker:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/vmscollector:v20230802-a960e47d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/slackmessagesender:v20230309-1d421c4f
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/terraform:v20230215-6bf03a31
    - europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20230728-90a0fc69
    - europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-dind-k3d:v20230728-90a0fc69
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-dind-nodejs:v20230728-90a0fc69
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-garden:v20230728-90a0fc69
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-gcloud:v20230728-90a0fc69
    - europe-docker.pkg.dev/kyma-project/prod/testimages/governance-toolkit:v20230728-90a0fc69
    - gcr.io/k8s-prow/analyze:v20230802-d51826a399
    - gcr.io/k8s-prow/branchprotector:v20230802-d51826a399
    - gcr.io/k8s-prow/checkconfig:v20230802-d51826a399
    - gcr.io/k8s-prow/commenter:v20230802-d51826a399
    - gcr.io/k8s-prow/crier:v20230802-d51826a399
    - gcr.io/k8s-prow/deck:v20230802-d51826a399
    - gcr.io/k8s-prow/gencred:v20230802-d51826a399
    - gcr.io/k8s-prow/generic-autobumper:v20230802-d51826a399
    - gcr.io/k8s-prow/ghproxy:v20230802-d51826a399
    - gcr.io/k8s-prow/hook:v20230802-d51826a399
    - gcr.io/k8s-prow/horologium:v20230802-d51826a399
    - gcr.io/k8s-prow/label_sync:v20230802-d51826a399
    - gcr.io/k8s-prow/prow-controller-manager:v20230802-d51826a399
    - gcr.io/k8s-prow/sinker:v20230802-d51826a399
    - gcr.io/k8s-prow/status-reconciler:v20230802-d51826a399
    - gcr.io/k8s-prow/tide:v20230802-d51826a399
    - grafana/grafana:7.5.17
    - k8s.gcr.io/gcsweb:v1.1.0
    - maven:3.9.3-eclipse-temurin-17
    - nginx:1
    - nginx:1.20-alpine
    - prom/pushgateway:v1.5.1
    - quay.io/prometheus-operator/prometheus-operator:v0.61.1
whitesource:
    language: golang-mod
