module-name: test-infra
protecode:
    - eu.gcr.io/kyma-project/test-infra/bootstrap:v20230323-3ca21e41
    - gcr.io/k8s-prow/generic-autobumper:v20230630-9eecc0f38f
    - eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230414-8e724501
    - eu.gcr.io/kyma-project/prow/cleaner:0.0.1
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/prow-tools:v20230328-ea7e207a
    - eu.gcr.io/sap-kyma-neighbors-dev/e2e-nodejs-chrome:test
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-garden:v20230525-75242ac0
    - eu.gcr.io/kyma-project/test-infra/whitesource-scanner:v20230224-5c582f17
    - gcr.io/k8s-prow/branchprotector:v20230630-9eecc0f38f
    - eu.gcr.io/kyma-project/test-infra/gardener-rotate:v20230330-3213bd39
    - gcr.io/k8s-prow/label_sync:v20230630-9eecc0f38f
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/image-detector:v20230628-80b781e8
    - gcr.io/k8s-prow/gencred:v20230630-9eecc0f38f
    - gcr.io/k8s-prow/commenter:v20230630-9eecc0f38f
    - eu.gcr.io/kyma-project/test-infra/buildpack-golang:v20230323-a1ac96db
    - eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b-buildkit
    - maven:3.8.6-eclipse-temurin-11
    - gcr.io/k8s-prow/checkconfig:v20230630-9eecc0f38f
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20230607-587d3f6a
    - docker.io/zricethezav/gitleaks:v8.15.3
    - eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
    - eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/buildpack-golang:v20230323-a1ac96db
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/golangci-lint:v20230327-2887f8b7
    - aquasec/trivy:0.39.0
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-gcloud:v20230525-75242ac0
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/terraform:v20230215-6bf03a31
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-dind-k3d:v20230612-dadc01a7
    - eu.gcr.io/kyma-project/test-infra/buildpack-node:v20221121-3622f3a5
    - eu.gcr.io/kyma-project/test-infra/markdown-index:v20230404-24c76bf3
    - opa/gatekeeper/constraint-templates
    - prow/cluster/resources/gatekeeper-constraints/prow
    - prow/cluster/resources/gatekeeper-constraints/trusted
    - prow/cluster/resources/gatekeeper-constraints/untrusted
    - prow/cluster/resources/gatekeeper-constraints/workloads
    - opa/terraform/modules/gatekeeper
    - opa/gatekeeper/deployments/gatekeeper
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/movegcsbucket:v20230309-1d421c4f
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/creategithubissue:v20230309-1d421c4f
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/searchgithubissue:v20230309-1d421c4f
    - development/gcp/workflows/secrets-leak-detector
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/scanlogsforsecrets:v20230309-1d421c4f
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/slackmessagesender:v20230309-1d421c4f
    - eu.gcr.io/sap-kyma-neighbors-dev/automerge-notification-plugin:v0.1.28-test
    - eu.gcr.io/sap-kyma-neighbors-dev/cla-assistant-plugin:v20220130-54e1f7f39-dirty-2
    - gcr.io/k8s-prow/crier:v20230630-9eecc0f38f
    - gcr.io/k8s-prow/deck:v20230630-9eecc0f38f
    - k8s.gcr.io/gcsweb:v1.1.0
    - gcr.io/k8s-prow/ghproxy:v20230630-9eecc0f38f
    - gcr.io/k8s-prow/analyze:v20230630-9eecc0f38f
    - gcr.io/k8s-prow/hook:v20230630-9eecc0f38f
    - gcr.io/k8s-prow/horologium:v20230630-9eecc0f38f
    - docker.io/nginx:1.23.2-alpine
    - grafana/grafana:7.5.17
    - quay.io/prometheus-operator/prometheus-operator:v0.61.1
    - eu.gcr.io/sap-kyma-neighbors-dev/needs-tws:v20220119-9cd5b58e9-dirty
    - gcr.io/k8s-prow/pipeline:v20230630-9eecc0f38f
    - gcr.io/k8s-prow/prow-controller-manager:v20230630-9eecc0f38f
    - prom/pushgateway:v1.5.1
    - nginx:1
    - gcr.io/k8s-prow/sinker:v20230630-9eecc0f38f
    - gcr.io/k8s-prow/status-reconciler:v20230630-9eecc0f38f
    - eu.gcr.io/sap-kyma-neighbors-dev/test-untrusted-plugin:v0.1.0
    - gcr.io/k8s-prow/tide:v20230630-9eecc0f38f
    - nginx:1.20-alpine
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/image-detector:v20230629-6b7922f4
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/image-detector:v20230704-40bb02bc
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-gcloud:v20230704-b7911c28
whitesource:
    language: golang-mod
