module-name: test-infra
protecode:
    - aquasec/trivy:0.39.0
    - docker.io/nginx:1.23.2-alpine
    - docker.io/zricethezav/gitleaks:v8.15.3
    - eu.gcr.io/kyma-project/incubator/milv:8649c2fb
    - eu.gcr.io/kyma-project/prow/cleaner:0.0.1
    - eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
    - eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230414-8e724501
    - eu.gcr.io/kyma-project/test-infra/whitesource-scanner:v20230224-5c582f17
    - eu.gcr.io/sap-kyma-neighbors-dev/automerge-notification-plugin:v0.1.28-test
    - eu.gcr.io/sap-kyma-neighbors-dev/cla-assistant-plugin:v20220130-54e1f7f39-dirty-2
    - eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
    - eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b-buildkit
    - eu.gcr.io/sap-kyma-neighbors-dev/needs-tws:v20220119-9cd5b58e9-dirty
    - eu.gcr.io/sap-kyma-neighbors-dev/test-untrusted-plugin:v0.1.0
    - europe-docker.pkg.dev/gcr-cleaner/gcr-cleaner/gcr-cleaner-cli:latest
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/creategithubissue:v20230309-1d421c4f
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20230712-f514770d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/golangci-lint:v20230615-186da159
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/clusterscollector:v20230727-e7022891
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/diskscollector:v20230727-e7022891
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/dnscollector:v20230727-e7022891
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/gardener-rotate:v20230727-e7022891
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/gcrcleaner:v20230727-e7022891
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/gcscleaner:v20230727-e7022891
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/image-detector:v20230727-e7022891
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/image-syncer:v20230727-e7022891
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/image-url-helper:v20230727-e7022891
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/ipcleaner:v20230727-e7022891
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/markdown-index:v20230727-e7022891
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/orphanremover:v20230727-e7022891
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20230727-e7022891
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/usersmapchecker:v20230727-e7022891
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/vmscollector:v20230727-e7022891
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/movegcsbucket:v20230309-1d421c4f
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/prow-tools:v20230710-20c3f243
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/scanlogsforsecrets:v20230309-1d421c4f
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/searchgithubissue:v20230309-1d421c4f
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/slackmessagesender:v20230309-1d421c4f
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/terraform:v20230215-6bf03a31
    - europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230727-b686c8e3
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-dind-k3d:v20230727-b686c8e3
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-dind-nodejs:v20230727-b686c8e3
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-garden:v20230727-b686c8e3
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-gcloud:v20230727-b686c8e3
    - europe-docker.pkg.dev/kyma-project/prod/testimages/governance-toolkit:v20230727-b686c8e3
    - gcr.io/k8s-prow/analyze:v20230727-a0122ad153
    - gcr.io/k8s-prow/branchprotector:v20230727-a0122ad153
    - gcr.io/k8s-prow/checkconfig:v20230727-a0122ad153
    - gcr.io/k8s-prow/commenter:v20230727-a0122ad153
    - gcr.io/k8s-prow/crier:v20230727-a0122ad153
    - gcr.io/k8s-prow/deck:v20230727-a0122ad153
    - gcr.io/k8s-prow/gencred:v20230727-a0122ad153
    - gcr.io/k8s-prow/generic-autobumper:v20230727-a0122ad153
    - gcr.io/k8s-prow/ghproxy:v20230727-a0122ad153
    - gcr.io/k8s-prow/hook:v20230727-a0122ad153
    - gcr.io/k8s-prow/horologium:v20230727-a0122ad153
    - gcr.io/k8s-prow/label_sync:v20230727-a0122ad153
    - gcr.io/k8s-prow/prow-controller-manager:v20230727-a0122ad153
    - gcr.io/k8s-prow/sinker:v20230727-a0122ad153
    - gcr.io/k8s-prow/status-reconciler:v20230727-a0122ad153
    - gcr.io/k8s-prow/tide:v20230727-a0122ad153
    - grafana/grafana:7.5.17
    - k8s.gcr.io/gcsweb:v1.1.0
    - maven:3.8.6-eclipse-temurin-11
    - nginx:1
    - nginx:1.20-alpine
    - prom/pushgateway:v1.5.1
    - quay.io/prometheus-operator/prometheus-operator:v0.61.1
whitesource:
    language: golang-mod
