module-name: test-infra
kind: kyma
bdba:
    - europe-docker.pkg.dev/kyma-project/prod/cors-proxy:v20250630-0c6c6834
    - europe-docker.pkg.dev/kyma-project/prod/dashboard-token-proxy:v20250630-79d9892e
    - europe-docker.pkg.dev/kyma-project/prod/github-webhook-gateway:v20250630-0c6c6834
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/rotate-service-account:v20250630-0c6c6834
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/service-account-keys-cleaner:v20250630-0c6c6834
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/signify-secret-rotator:v20250611-1ab6a229
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/slackmessagesender:v20250519-25ab276b
mend:
    language: golang-mod
    exclude:
        - '**/*_test.go'
checkmarx-one:
    preset: go-default
    exclude:
        - '**/*_test.go'
