module-name: test-infra
protecode:
    - docker.io/library/nginx:1.25.3-alpine
    - docker.io/library/nginx:1.25.4-alpine
    - docker.io/zricethezav/gitleaks:v8.18.2
    - eu.gcr.io/gardener-project/ci-infra/cla-assistant:v20231121-2908159
    - europe-docker.pkg.dev/gcr-cleaner/gcr-cleaner/gcr-cleaner-cli:0.11.1
    - europe-docker.pkg.dev/kyma-project/prod/buildkit-image-builder:v20240104-4259aacc
    - europe-docker.pkg.dev/kyma-project/prod/image-builder:v20240103-f4e871cc-buildkit
    - europe-docker.pkg.dev/kyma-project/prod/image-builder:v20240327-023631f7
    - europe-docker.pkg.dev/kyma-project/prod/image-builder:v20240402-5a67f2a8
    - europe-docker.pkg.dev/kyma-project/prod/k8s-prow/branchprotector:v20240401-86d770fb
    - europe-docker.pkg.dev/kyma-project/prod/k8s-prow/checkconfig:v20240401-86d770fb
    - europe-docker.pkg.dev/kyma-project/prod/k8s-prow/crier:v20240401-86d770fb
    - europe-docker.pkg.dev/kyma-project/prod/k8s-prow/deck:v20240401-86d770fb
    - europe-docker.pkg.dev/kyma-project/prod/k8s-prow/gcsweb:v20240401-86d770fb
    - europe-docker.pkg.dev/kyma-project/prod/k8s-prow/generic-autobumper:v20240401-86d770fb
    - europe-docker.pkg.dev/kyma-project/prod/k8s-prow/ghproxy:v20240401-86d770fb
    - europe-docker.pkg.dev/kyma-project/prod/k8s-prow/hook:v20240401-86d770fb
    - europe-docker.pkg.dev/kyma-project/prod/k8s-prow/horologium:v20240401-86d770fb
    - europe-docker.pkg.dev/kyma-project/prod/k8s-prow/prow-controller-manager:v20240401-86d770fb
    - europe-docker.pkg.dev/kyma-project/prod/k8s-prow/sinker:v20240401-86d770fb
    - europe-docker.pkg.dev/kyma-project/prod/k8s-prow/status-reconciler:v20240401-86d770fb
    - europe-docker.pkg.dev/kyma-project/prod/k8s-prow/tide:v20240401-86d770fb
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20240306-5757c233
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/golangci-lint:v20240402-b7e8aa8b
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/automated-approver:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/clusterscollector:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/cors-proxy:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/create-github-issue:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/dashboard-token-proxy:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/diskscollector:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/dnscollector:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/gardener-rotate:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/gcscleaner:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/github-webhook-gateway:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/image-detector:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/image-syncer:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/image-url-helper:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/ipcleaner:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/markdown-index:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/move-gcs-bucket:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/needs-tws:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/orphanremover:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/scan-logs-for-secrets:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/search-github-issue:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/usersmapchecker:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/vmscollector:v20240402-eb8b2533
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/rotate-service-account:v20240307-12455737
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/service-account-keys-cleaner:v20240307-12455737
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/slackmessagesender:v20240329-e71bffdf
    - europe-docker.pkg.dev/kyma-project/prod/testimages/alpine-git:v20240402-6740fadc
    - europe-docker.pkg.dev/kyma-project/prod/testimages/alpine-hadolint:v20240402-6740fadc
    - europe-docker.pkg.dev/kyma-project/prod/testimages/alpine-shellcheck:v20240402-6740fadc
    - europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20240402-6740fadc
    - europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20240402-6740fadc
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-dind-k3d:v20240402-6740fadc
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-dind-nodejs:v20240402-6740fadc
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-garden:v20240402-6740fadc
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-gcloud:v20240402-6740fadc
    - europe-docker.pkg.dev/kyma-project/prod/testimages/unified-agent-go:v20240402-6740fadc
    - gcr.io/k8s-prow/analyze:v20230824-74e8146673
    - gcr.io/k8s-prow/gencred:v20230824-74e8146673
    - maven:3.9.6-eclipse-temurin-17-alpine
    - prom/pushgateway:v1.6.0
    - quay.io/prometheus-operator/prometheus-operator:v0.67.1
whitesource:
    language: golang-mod
    exclude:
        - '**/*_test.go'
