module-name: test-infra
protecode:
    - docker.io/library/nginx:1.25.4-alpine
    - europe-docker.pkg.dev/gardener-project/releases/ci-infra/cla-assistant:v20240412-d22f4bf
    - europe-docker.pkg.dev/gcr-cleaner/gcr-cleaner/gcr-cleaner-cli:0.12.0
    - europe-docker.pkg.dev/kyma-project/prod/buildkit-image-builder:v20240523-63efdb74
    - europe-docker.pkg.dev/kyma-project/prod/image-builder:v20240722-26198925
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20240429-870ea518
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/golangci-lint:v20240610-c4997bfe
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/automated-approver:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/clusterscollector:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/cors-proxy:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/create-github-issue:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/dashboard-token-proxy:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/diskscollector:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/dnscollector:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/gardener-rotate:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/gcscleaner:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/github-webhook-gateway:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/image-detector:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/image-syncer:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/ipcleaner:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/markdown-index:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/move-gcs-bucket:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/orphanremover:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/scan-logs-for-secrets:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/search-github-issue:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/usersmapchecker:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/vmscollector:v20240722-3564861d
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/rotate-service-account:v20240722-26198925
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/service-account-keys-cleaner:v20240723-c838d6f8
    - europe-docker.pkg.dev/kyma-project/prod/test-infra/slackmessagesender:v20240610-a221097b
    - europe-docker.pkg.dev/kyma-project/prod/testimages/alpine-hadolint:v20240722-5c71c551
    - europe-docker.pkg.dev/kyma-project/prod/testimages/alpine-shellcheck:v20240722-5c71c551
    - europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20240722-5c71c551
    - europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20240722-5c71c551
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-dind-k3d:v20240722-5c71c551
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-garden:v20240722-5c71c551
    - europe-docker.pkg.dev/kyma-project/prod/testimages/e2e-gcloud:v20240722-5c71c551
    - gcr.io/k8s-prow/analyze:v20240719-47a381b1df
    - gcr.io/k8s-prow/branchprotector:v20240723-dbbd2d86b
    - gcr.io/k8s-prow/crier:v20240723-dbbd2d86b
    - gcr.io/k8s-prow/deck:v20240723-dbbd2d86b
    - gcr.io/k8s-prow/gcsweb:v20240719-47a381b1df
    - gcr.io/k8s-prow/gencred:v20240719-47a381b1df
    - gcr.io/k8s-prow/generic-autobumper:v20240723-dbbd2d86b
    - gcr.io/k8s-prow/ghproxy:v20240723-dbbd2d86b
    - gcr.io/k8s-prow/hook:v20240723-dbbd2d86b
    - gcr.io/k8s-prow/horologium:v20240723-dbbd2d86b
    - gcr.io/k8s-prow/prow-controller-manager:v20240723-dbbd2d86b
    - gcr.io/k8s-prow/sinker:v20240723-dbbd2d86b
    - gcr.io/k8s-prow/status-reconciler:v20240723-dbbd2d86b
    - gcr.io/k8s-prow/tide:v20240723-dbbd2d86b
    - prom/pushgateway:v1.8.0
whitesource:
    language: golang-mod
    exclude:
        - '**/*_test.go'
