spec:
  resources:
    limits:
      memory: 6Gi
  containers:
    - name: sidecar
      image: gcr.io/stackdriver-prometheus/stackdriver-prometheus-sidecar:__SIDECAR_IMAGE_TAG__
      imagePullPolicy: Always
      args:
        - --stackdriver.project-id=__GCP_PROJECT__
        - --prometheus.wal-directory=/data/prometheus-db/wal
        - --stackdriver.kubernetes.location=__GCP_REGION__
        - --stackdriver.kubernetes.cluster-name=__CLUSTER_NAME__
        - --include={__name__=~"node_load.+"}
        - --include={__name__="up",job=~"apiserver|kube-scheduller|kube-controller-manager"}
        - --include={__name__="apiserver_request_total",job="apiserver"}
        - --include={__name__="apiserver_request_duration_seconds_bucket",job="apiserver"}
        - --include={__name__="workqueue_adds_total",job="apiserver"}
        - --include={__name__="workqueue_depth",job="apiserver"}
        - --include={__name__="workqueue_queue_duration_seconds_bucket",job="apiserver"}
        - --include={__name__="etcd_helper_cache_entry_total",job="apiserver"}
        - --include={__name__="etcd_helper_cache_hit_total",job="apiserver"}
        - --include={__name__="etcd_helper_cache_miss_total",job="apiserver"}
        - --include={__name__="etcd_request_cache_get_duration_seconds_bucket",job="apiserver"}
        - --include={__name__="etcd_request_cache_add_duration_seconds_bucket",job="apiserver"}
        - --include={__name__="process_resident_memory_bytes",job="apiserver"}
        - --include={__name__="process_cpu_seconds_total",job="apiserver"}
        - --include={__name__="go_goroutines",job="apiserver"}
      resources:
        limits:
          memory: 2Gi
        requests:
          memory: 256Mi
      ports:
        - name: sidecar
          containerPort: 9091
      volumeMounts:
        - mountPath: /data
          name: prometheus-monitoring-prometheus-db
