apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ include "probot.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "probot.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  tls:
    - hosts:
      - {{ .Values.ingress.host | quote }}
      secretName: {{ .Values.ingress.tls.secretName | quote }}
  rules:
    - host: {{ .Values.ingress.host | quote }}
      http:
        paths:
          - path: {{ .Values.ingress.path | quote }}
            backend:
              serviceName: {{ include "probot.fullname" . }}
              servicePort: http
