apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: prow-addons-ctrl-manager
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
  name: prow-addons-controller-manager
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  labels:
    app: prow-addons-ctrl-manager
  name: prow-addons-manager-role
rules:
- apiGroups:
  - prow.k8s.io
  resources:
  - prowjobs
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - prow.k8s.io
  resources:
  - prowjobs/status
  verbs:
  - get
  - update
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  creationTimestamp: null
  labels:
    app: prow-addons-ctrl-manager
  name: prow-addons-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: prow-addons-manager-role
subjects:
- kind: ServiceAccount
  name: prow-addons-controller-manager
  namespace: default
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: prow-addons-ctrl-manager
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
  name: prow-addons-controller-manager-service
  namespace: default
spec:
  ports:
  - port: 443
  selector:
    app: prow-addons-ctrl-manager
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: prow-addons-ctrl-manager
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
  name: prow-addons-controller-manager
  namespace: default
spec:
  selector:
    matchLabels:
      app: prow-addons-ctrl-manager
      control-plane: controller-manager
      controller-tools.k8s.io: "1.0"
  serviceName: prow-addons-controller-manager-service
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
      labels:
        app: prow-addons-ctrl-manager
        control-plane: controller-manager
        controller-tools.k8s.io: "1.0"
    spec:
      containers:
      - command:
        - /manager
        env:
        - name: NOTIFIER_SLACK_TOKEN
          valueFrom:
            secretKeyRef:
              key: token
              name: sap-slack-bot-token
        - name: NOTIFIER_SLACK_REPORTER_CHANNEL
          value: '#c4core-kyma-ci-force'
        - name: NOTIFIER_SLACK_REPORTER_ACT_ON_PROW_JOB_TYPE
          value: periodic,postsubmit
        - name: NOTIFIER_SLACK_REPORTER_ACT_ON_PROW_JOB_STATE
          value: failure,error
        image: controller:latest
        imagePullPolicy: Always
        name: manager
        ports:
        - containerPort: 8080
          name: metrics
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 100m
            memory: 20Mi
      serviceAccountName: prow-addons-controller-manager
      terminationGracePeriodSeconds: 10
  volumeClaimTemplates: []
