apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: default
  name: sinker
  labels:
    app: sinker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sinker
  template:
    metadata:
      labels:
        app: sinker
    spec:
      serviceAccountName: sinker
      containers:
      - name: sinker
        args:
        - --config-path=/etc/config/config.yaml
        - --job-config-path=/etc/job-config
        - --dry-run=false
        image: gcr.io/k8s-prow/sinker:v20240527-d543baace
        env:
          - name: KUBECONFIG
            value: "/etc/untrusted-workload-kubeconfig/config:/etc/trusted-workload-kubeconfig/config"
        volumeMounts:
        - mountPath: /etc/untrusted-workload-kubeconfig
          name: untrusted-workload-kubeconfig
          readOnly: true
        - mountPath: /etc/trusted-workload-kubeconfig
          name: trusted-workload-kubeconfig
          readOnly: true
        - name: config
          mountPath: /etc/config
          readOnly: true
        - name: job-config
          mountPath: /etc/job-config
          readOnly: true
      volumes:
      - name: untrusted-workload-kubeconfig
        secret:
          defaultMode: 420
          secretName: untrusted-workload-kubeconfig
      - name: trusted-workload-kubeconfig
        secret:
          defaultMode: 420
          secretName: trusted-workload-kubeconfig
      - name: config
        configMap:
          name: config
      - name: job-config
        configMap:
          name: job-config
