global:
  nextRelease: "2.12"
  releases:
    - "2.11"
    - "2.10"
    - "2.9"
  orgs:
    - name: "kyma-project"
      repos:
        - name: "test-infra"
        - name: "kyma"
        - name: "busola"
        - name: "control-plane"
        - name: "cli"
        - name: "website"
        - name: "lifecycle-manager"
        - name: "third-party-images"
        - name: "community"
        - name: "module-manager"
        - name: "hydroform"
        - name: "istio-operator"
        - name: "addons"
        - name: "private-fn-for-e2e-serverless-tests"
        - name: "charts"
        - name: "examples"
        - name: "api-gateway"
        - name: "istio"
        - name: "runtime-watcher"
        - name: "keda-manager"
        - name: "kyma-dashboard"
        - name: "application-connector-manager"
        - name: "template-repository"
        - name: "rafter"
        - name: "btp-manager"
        - name: "telemetry-manager"
    - name: "kyma-incubator"
      repos:
        - name: "compass"
        - name: "ord-service"
        - name: "reconciler"
        - name: "bullseye-showcase"
        - name: "documentation-component"
        - name: "compass-console"
        - name: "sap-btp-service-operator"
        - name: "milv"
        - name: "varkes"
        - name: "slack-bot"
        - name: "migrate"
        - name: "github-dashboard"
        - name: "website-vuepress"
        - name: "kitbag"
        - name: "kyma-showcase"
        - name: "hydra-login-consent"
        - name: "kymart"
        - name: "examples"
        - name: "vstudio-extension"
        - name: "wordpress-connector"
        - name: "connector-tools"
        - name: "artwork"
        - name: "opensap"
        - name: "testdrape"
        - name: "sc-removal"
        - name: "service-catalog-tester"
        - name: "service-catalog"
        


# global configSet variables
pubsub_config: &pubsub_config
  pubsub_project: "sap-kyma-prow"
  pubsub_topic: "prowjobs"
  
globalSets:
  kaniko_buildpack:
    skip_report: "false"
    max_concurrency: "10"
    decorate: "true"
    pubsub_project: "sap-kyma-prow"
    pubsub_topic: "prowjobs"
    image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230224-15885e7ef
    command: /image-builder
    request_memory: "1.5Gi"
    request_cpu: "1"
    labels:
      preset-sa-kyma-push-images: "true"
    volumes:
      - name: config
        configMapName: kaniko-build-config
      - name: signify-secret
        secretName: signify-dev-secret
    volumeMounts:
      - name: config
        mountPath: /config
        readOnly: true
      - name: signify-secret
        mountPath: /secret
        readOnly: true
  image-builder-buildkit:
    skip_report: "false"
    max_concurrency: 10
    decorate: "true"
    pubsub_project: "sap-kyma-prow"
    pubsub_topic: "prowjobs"
    nodeSelector:
      dedicated: high-cpu
    tolerations:
      - key: dedicated
        value: high-cpu
        operator: Equal
        effect: NoSchedule
    image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230224-15885e7ef-buildkit
    command: "/image-builder"
    request_memory: "1.5Gi"
    request_cpu: "1"
    labels:
      preset-sa-kyma-push-images: "true"
    annotations:
      container.apparmor.security.beta.kubernetes.io/test: unconfined
      container.seccomp.security.alpha.kubernetes.io/test: unconfined
    env:
      BUILDKITD_FLAGS: "--oci-worker-no-process-sandbox"
    volumes:
      - name: share
        emptyDir: true
      - name: config
        configMapName: kaniko-build-config
      - name: signify-secret
        secretName: signify-dev-secret
    volumeMounts:
      - mountPath: /home/user/.local/share/buildkit
        name: share
      - name: config
        mountPath: /config
        readOnly: true
      - name: signify-secret
        mountPath: /secret
        readOnly: true
  linting:
    skip_report: "false"
    max_concurrency: "10"
    optional: "true"
    decorate: "true"
    image: "eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230221-85b2d35f"
    pubsub_project: "sap-kyma-prow"
    pubsub_topic: "prowjobs"
    request_memory: 200Mi
    request_cpu: 80m
  testing:
    skip_report: "false"
    max_concurrency: "10"
    optional: "true"
    decorate: "true"
    image: "eu.gcr.io/kyma-project/test-infra/buildpack-golang:v20221215-c20ffd65"
    pubsub_project: "sap-kyma-prow"
    pubsub_topic: "prowjobs"
    request_memory: 1Gi
    request_cpu: 100m
  # Kyma major version sets
  kyma_major_upgrade:
    env:
      KYMA_MAJOR_UPGRADE: "true"
  kyma_minor_upgrade:
    env:
      PREVIOUS_MINOR_VERSION_COUNT: 1
  # Directory sets
  kyma_project_dir:
    env:
      KYMA_PROJECT_DIR: "/home/prow/go/src/github.com/kyma-project"
  # Image sets
  image_bootstrap:
    image: "eu.gcr.io/kyma-project/test-infra/bootstrap:v20230119-993f0759"
  image_prow-tools:
    image: "eu.gcr.io/kyma-project/test-infra/prow-tools:v20230224-b6c73305"
  image_kyma-integration:
    image: "eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759"
  image_buildpack-node:
    image: "eu.gcr.io/kyma-project/test-infra/buildpack-node:v20221121-3622f3a5"
  image_buildpack-golang:
    image: "eu.gcr.io/kyma-project/test-infra/buildpack-golang:v20221215-c20ffd65"
  image_buildpack-golang-kubebuilder2:
    image: "eu.gcr.io/kyma-project/test-infra/buildpack-golang:v20221215-c20ffd65"
  image_buildpack-golang-toolbox:
    image: "eu.gcr.io/kyma-project/test-infra/buildpack-golang:v20221215-c20ffd65"
  image_wssagent:
    image: "eu.gcr.io/kyma-project/test-infra/whitesource-scanner:v20230224-5c582f17"
  image_gardener-rotate:
    image: "eu.gcr.io/kyma-project/test-infra/gardener-rotate:v20230202-40569193"
  image_markdown_index:
    image: "eu.gcr.io/kyma-project/test-infra/markdown-index:v20230220-55aefaf0"
  # JobConfig sets
  jobConfig_default:
    skip_report: "false"
    max_concurrency: "10"
    decorate: "true"
    branches:
      - "^master$"
      - "^main$"
    privileged: "true"
    request_memory: "3Gi"
    request_cpu: "2"
    cluster_presubmit: "untrusted-workload"
    cluster_postsubmit: "trusted-workload"
    nodeSelector:
      dedicated: high-cpu
    tolerations:
    - key: dedicated
      value: high-cpu
      operator: Equal
      effect: NoSchedule
    <<: *pubsub_config
  jobConfig_kyma20_docu:
    skip_report: "false"
    max_concurrency: "10"
    decorate: "true"
    optional: "true"
    branches:
      - "^kyma-2.0-docu$"
    privileged: "true"
    request_memory: "1.5Gi"
    request_cpu: "0.8"
    cluster_presubmit: "untrusted-workload"
    cluster_postsubmit: "trusted-workload"
    nodeSelector:
      dedicated: high-cpu
    tolerations:
      - key: dedicated
        value: high-cpu
        operator: Equal
        effect: NoSchedule
    <<: *pubsub_config
  jobConfig_presubmit:
    annotations:
      pipeline.trigger: pr-submit
    type_presubmit: "true"
    cluster: "untrusted-workload"
  jobConfig_postsubmit:
    annotations:
      pipeline.trigger: pr-merge
    type_postsubmit: "true"
    cluster: "trusted-workload"
  jobConfig_periodic:
    annotations:
      pipeline.trigger: periodic
    type_periodic: "true"
    cluster: "untrusted-workload"
  disable_testgrid:
    annotations:
      testgrid-create-test-group: "false"
  jobConfig_slack_dev_null:
    slack_channel: "kyma-prow-dev-null"
  jobConfig_slack_jellyfish:
    slack_channel: "jellyfish-notifications"
  jobConfig_buildpack_incubator:
    labels:
      preset-docker-push-repository-incubator: "true"
  jobConfig_reconciler_publish_unstable_cli:
    command: "/home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/reconciler-publish-unstable-cli.sh"
    annotations:
      pipeline.installer: reconciler
      pipeline.test: "fast-integration"
      pipeline.clusterprovisioning: reconciler
  # generic component jobConfigs
  jobConfig_generic_component:
    labels:
      preset-dind-enabled: "true"
      preset-sa-gcr-push: "true"
      preset-kyma-kms-sign-key: "true"
    command: "/home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build-generic.sh"
  jobConfig_generic_component_kyma:
    labels:
      preset-docker-push-repository-kyma: "true"
    path_alias: "github.com/kyma-project/kyma"
  jobConfig_generic_component_control-plane:
    labels:
      preset-docker-push-repository-control-plane: "true"
    path_alias: "github.com/kyma-project/control-plane"
  jobConfig_generic_component_api-gateway:
    labels:
      preset-docker-push-repository-kyma: "true"
    path_alias: "github.com/kyma-project/api-gateway"
  jobConfig_generic_component_busola:
    labels:
      preset-docker-push-repository-kyma: "true"
    path_alias: "github.com/kyma-project/busola"
  jobConfig_generic_component_kyma-dashboard:
    labels:
      preset-docker-push-repository-kyma: "true"
    path_alias: "github.com/kyma-project/kyma-dashboard"
  jobConfig_generic_component_compass:
    labels:
      preset-docker-push-repository-incubator: "true"
    path_alias: "github.com/kyma-incubator/compass"
  disable_report:
    skip_report: "true"
  # globalSet for prowjobs which doesn't inherit jobConfig_default globalSet
  pubsub_labels:
    <<: *pubsub_config
  trusted_cluster:
    cluster: "trusted-workload"
  untrusted_cluster:
    cluster: "untrusted-workload"
  # extra_refs sets
  extra_refs_test-infra:
    extra_refs:
      test-infra:
        - org: "kyma-project"
          repo: "test-infra"
          path_alias: "github.com/kyma-project/test-infra"
          base_ref: "main"
  extra_refs_kyma:
    extra_refs:
      kyma:
        - org: "kyma-project"
          repo: "kyma"
          path_alias: "github.com/kyma-project/kyma"
          base_ref: "main"
  extra_refs_reconciler:
    extra_refs:
      reconciler:
        - org: "kyma-incubator"
          repo: "reconciler"
          path_alias: "github.com/kyma-incubator/reconciler"
          base_ref: "main"
  extra_refs_control-plane:
    extra_refs:
      control-plane:
        - org: "kyma-project"
          repo: "control-plane"
          path_alias: "github.com/kyma-project/control-plane"
          base_ref: "main"
  extra_refs_btp-manager:
    extra_refs:
      btp-manager:
        - org: "kyma-project"
          repo: "btp-manager"
          path_alias: "github.com/kyma-project/btp-manager"
          base_ref: "main"
  # labels sets
  build_labels:
    labels:
      preset-dind-enabled: "true"
      preset-sa-gcr-push: "true"
      preset-docker-push-repository-kyma: "true"
  # gardener configs
  gardener_gcp_job:
    labels:
      preset-gardener-gcp-kyma-integration: "true"
      preset-kyma-cli-stable: "true"
      preset-cluster-version: "true"
    env:
      KYMA_PROJECT_DIR: "/home/prow/go/src/github.com/kyma-project"
      GARDENER_REGION: "europe-west4"
      GARDENER_ZONES: "europe-west4-b"
    annotations:
      pipeline.platform: gardener_gcp

templates:
  - from: releases.go.tmpl
    render:
      - to: ../../development/tools/jobs/releases/releases.go
  - from: prow-config.yaml
    render:
      - to: ../../prow/config.yaml
        values:
          cluster:
            presubmit: untrusted-workload
            postsubmit: trusted-workload
            periodic: trusted-workload
          contexts:
            - name: kyma-integration
            - name: kyma-gke-integration
            - name: kyma-gke-upgrade
            - name: kyma-artifacts
  - from : test-infra-autobump-config.yaml
    render:
      - to: ../../prow/autobump-config/test-infra-autobump-config.yaml
