global:
  nextRelease: "2.8"
  releases:
    - "2.7"
    - "2.6"
    - "2.5"
  orgs:
    - name: "kyma-project"
      repos:
        - name: "test-infra"
        - name: "kyma"
        - name: "busola"
        - name: "control-plane"
        - name: "cli"
        - name: "website"
        - name: "lifecycle-manager"
        - name: "third-party-images"
        - name: "community"
        - name: "module-manager"
        - name: "hydroform"
        - name: "console"
        - name: "istio-operator"
        - name: "addons"
        - name: "private-fn-for-e2e-serverless-tests"
        - name: "charts"
        - name: "examples"
        - name: "api-gateway"
    - name: "kyma-incubator"
      repos:
        - name: "compass"
        - name: "ord-service"
        - name: "reconciler"
        - name: "bullseye-showcase"
        - name: "documentation-component"
        - name: "compass-console"
        - name: "sap-btp-service-operator"
        - name: "milv"
        - name: "varkes"
        - name: "slack-bot"
        - name: "podpreset-crd"
        - name: "migrate"
        - name: "github-dashboard"
        - name: "website-vuepress"
        - name: "kitbag"
        - name: "octopus"
        - name: "kyma-showcase"
        - name: "hydra-login-consent"
        - name: "terraform-provider-gardener"
        - name: "kymart"
        - name: "examples"
        - name: "vstudio-extension"
        - name: "wordpress-connector"
        - name: "connector-tools"
        - name: "artwork"
        - name: "opensap"
        


# global configSet variables
pubsub_config: &pubsub_config
  pubsub_project: "sap-kyma-prow"
  pubsub_topic: "prowjobs"
  
globalSets:
  # Kyma major version sets
  kyma_major_upgrade:
    env:
      KYMA_MAJOR_UPGRADE: "true"
  kyma_minor_upgrade:
    env:
      PREVIOUS_MINOR_VERSION_COUNT: 1
  # Directory sets
  kyma_project_dir:
    env:
      KYMA_PROJECT_DIR: "/home/prow/go/src/github.com/kyma-project"
  # Image sets
  image_bootstrap:
    image: "eu.gcr.io/kyma-project/test-infra/bootstrap:v20220808-d24ecd898"
  image_prow-tools:
    image: "eu.gcr.io/kyma-project/test-infra/prow-tools:v20220901-6453087a4"
  image_kyma-integration:
    image: "eu.gcr.io/kyma-project/test-infra/kyma-integration:v20220920-b10d5457"
  image_buildpack-node:
    image: "eu.gcr.io/kyma-project/test-infra/buildpack-node:v20220809-8b2d4be4f"
  image_buildpack-golang:
    image: "eu.gcr.io/kyma-project/test-infra/buildpack-golang:v20220920-b10d5457"
  image_buildpack-golang-kubebuilder2:
    image: "eu.gcr.io/kyma-project/test-infra/buildpack-golang:v20220920-b10d5457"
  image_buildpack-golang-toolbox:
    image: "eu.gcr.io/kyma-project/test-infra/buildpack-golang:v20220920-b10d5457"
  image_wssagent:
    image: "eu.gcr.io/kyma-project/test-infra/wssagent:v20220809-6dd2faf75"
  image_gardener-rotate:
    image: "eu.gcr.io/kyma-project/test-infra/gardener-rotate:v20220819-694650155"
  # JobConfig sets
  jobConfig_default:
    skip_report: "false"
    max_concurrency: "10"
    decorate: "true"
    branches:
      - "^master$"
      - "^main$"
    privileged: "true"
    request_memory: "3Gi"
    request_cpu: "2"
    cluster_presubmit: "untrusted-workload"
    cluster_postsubmit: "trusted-workload"
    nodeSelector:
      dedicated: high-cpu
    tolerations:
    - key: dedicated
      value: high-cpu
      operator: Equal
      effect: NoSchedule
    <<: *pubsub_config
  jobConfig_kyma20_docu:
    skip_report: "false"
    max_concurrency: "10"
    decorate: "true"
    optional: "true"
    branches:
      - "^kyma-2.0-docu$"
    privileged: "true"
    request_memory: "1.5Gi"
    request_cpu: "0.8"
    cluster_presubmit: "untrusted-workload"
    cluster_postsubmit: "trusted-workload"
    nodeSelector:
      dedicated: high-cpu
    tolerations:
      - key: dedicated
        value: high-cpu
        operator: Equal
        effect: NoSchedule
    <<: *pubsub_config
  jobConfig_presubmit:
    annotations:
      pipeline.trigger: pr-submit
    type_presubmit: "true"
    cluster: "untrusted-workload"
  jobConfig_postsubmit:
    annotations:
      pipeline.trigger: pr-merge
    type_postsubmit: "true"
    cluster: "trusted-workload"
  jobConfig_periodic:
    annotations:
      pipeline.trigger: periodic
    type_periodic: "true"
    cluster: "untrusted-workload"
  disable_testgrid:
    annotations:
      testgrid-create-test-group: "false"
  jobConfig_slack_dev_null:
    slack_channel: "kyma-prow-dev-null"
  jobConfig_slack_jellyfish:
    slack_channel: "jellyfish-notifications"
  jobConfig_buildpack_incubator:
    labels:
      preset-docker-push-repository-incubator: "true"
  jobConfig_reconciler_publish_unstable_cli:
    command: "/home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/reconciler-publish-unstable-cli.sh"
    annotations:
      pipeline.installer: reconciler
      pipeline.test: "fast-integration"
      pipeline.clusterprovisioning: reconciler
  # generic component jobConfigs
  jobConfig_generic_component:
    labels:
      preset-dind-enabled: "true"
      preset-sa-gcr-push: "true"
      preset-kyma-kms-sign-key: "true"
    command: "/home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build-generic.sh"
  jobConfig_generic_component_kyma:
    labels:
      preset-docker-push-repository-kyma: "true"
    path_alias: "github.com/kyma-project/kyma"
  jobConfig_generic_component_control-plane:
    labels:
      preset-docker-push-repository-control-plane: "true"
    path_alias: "github.com/kyma-project/control-plane"
  jobConfig_generic_component_api-gateway:
    labels:
      preset-docker-push-repository-kyma: "true"
    path_alias: "github.com/kyma-project/api-gateway"
  jobConfig_generic_component_busola:
    labels:
      preset-docker-push-repository-kyma: "true"
    path_alias: "github.com/kyma-project/busola"
  jobConfig_generic_component_console:
    labels:
      preset-docker-push-repository-kyma: "true"
    path_alias: "github.com/kyma-project/console"
  jobConfig_generic_component_compass:
    labels:
      preset-docker-push-repository-incubator: "true"
    path_alias: "github.com/kyma-incubator/compass"
  disable_report:
    skip_report: "true"
  # globalSet for prowjobs which doesn't inherit jobConfig_default globalSet
  pubsub_labels:
    <<: *pubsub_config
  trusted_cluster:
    cluster: "trusted-workload"
  untrusted_cluster:
    cluster: "untrusted-workload"
  # extra_refs sets
  extra_refs_test-infra:
    extra_refs:
      test-infra:
        - org: "kyma-project"
          repo: "test-infra"
          path_alias: "github.com/kyma-project/test-infra"
          base_ref: "main"
  extra_refs_kyma:
    extra_refs:
      kyma:
        - org: "kyma-project"
          repo: "kyma"
          path_alias: "github.com/kyma-project/kyma"
          base_ref: "main"
  extra_refs_reconciler:
    extra_refs:
      reconciler:
        - org: "kyma-incubator"
          repo: "reconciler"
          path_alias: "github.com/kyma-incubator/reconciler"
          base_ref: "main"
  extra_refs_control-plane:
    extra_refs:
      control-plane:
        - org: "kyma-project"
          repo: "control-plane"
          path_alias: "github.com/kyma-project/control-plane"
          base_ref: "main"
  # labels sets
  build_labels:
    labels:
      preset-dind-enabled: "true"
      preset-sa-gcr-push: "true"
      preset-docker-push-repository-kyma: "true"
  # gardener configs
  gardener_gcp_job:
    labels:
      preset-gardener-gcp-kyma-integration: "true"
      preset-kyma-cli-stable: "true"
      preset-cluster-version: "true"
    env:
      KYMA_PROJECT_DIR: "/home/prow/go/src/github.com/kyma-project"
      GARDENER_REGION: "europe-west4"
      GARDENER_ZONES: "europe-west4-b"
    annotations:
      pipeline.platform: gardener_gcp

templates:
  - from: releases.go.tmpl
    render:
      - to: ../../development/tools/jobs/releases/releases.go
  - from: prow-config.yaml
    render:
      - to: ../../prow/config.yaml
        values:
          cluster:
            presubmit: untrusted-workload
            postsubmit: trusted-workload
            periodic: trusted-workload
          contexts:
            - name: kyma-integration
            - name: kyma-gke-integration
            - name: kyma-gke-upgrade
            - name: kyma-artifacts
  - from : test-infra-autobump-config.yaml
    render:
      - to: ../../prow/autobump-config/test-infra-autobump-config.yaml
