presets:
  - labels:
      preset-gc-compute-envs: "true"
    env:
      - name: CLOUDSDK_COMPUTE_ZONE
        value: "europe-west3-a"
      - name: CLOUDSDK_COMPUTE_REGION
        value: "europe-west3"
  - labels:
      preset-gc-project-env: "true"
    env:
      - name: CLOUDSDK_CORE_PROJECT
        value: "sap-kyma-prow"
  - labels:
      preset-sa-vm-kyma-integration: "true" # Service account with "Compute Admin" and "Compute OS Admin Login" roles
    env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /etc/credentials/sa-vm-kyma-integration/service-account.json
    volumes:
      - name: sa-vm-kyma-integration
        secret:
          secretName: sa-vm-kyma-integration
    volumeMounts:
      - name: sa-vm-kyma-integration
        mountPath: /etc/credentials/sa-vm-kyma-integration
        readOnly: true
  - labels:
      preset-sa-gke-kyma-integration: "true"
    env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /etc/credentials/sa-gke-kyma-integration/service-account.json
      - name: CLOUDSDK_DNS_ZONE_NAME
        value: "build-kyma" #GCloud DNS Zone Name (NOT it's DNS name!)
      - name: KYMA_PROJECT_DIR
        value: "/home/prow/go/src/github.com/kyma-project"
    volumes:
      - name: sa-gke-kyma-integration
        secret:
          secretName: sa-gke-kyma-integration
    volumeMounts:
      - name: sa-gke-kyma-integration
        mountPath: /etc/credentials/sa-gke-kyma-integration
        readOnly: true
  - labels:
      preset-sa-gcr-push: "true" # Service account with "Storage Admin" role
    env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /etc/credentials/sa-gcr-push-kyma-project/service-account.json
    volumes:
      - name: sa-gcr-push-kyma-project
        secret:
          secretName: sa-gcr-push-kyma-project
    volumeMounts:
      - name: sa-gcr-push-kyma-project
        mountPath: /etc/credentials/sa-gcr-push-kyma-project
        readOnly: true
  - labels:
      preset-sa-kyma-artifacts: "true"
    env:
    - name: GOOGLE_APPLICATION_CREDENTIALS
      value: /etc/credentials/sa-kyma-artifacts/service-account.json
    volumes:
    - name: sa-kyma-artifacts
      secret:
        secretName: sa-kyma-artifacts
    volumeMounts:
    - name: sa-kyma-artifacts
      mountPath: /etc/credentials/sa-kyma-artifacts
  - labels:
      preset-dind-enabled: "true"
    env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: "true"
    volumes:
      - name: docker-graph
        emptyDir: {}
    volumeMounts:
      - name: docker-graph
        mountPath: /docker-graph
  - labels:
      preset-docker-push-repository: "true"
    env:
      - name: DOCKER_PUSH_REPOSITORY
        value: "eu.gcr.io/kyma-project"
  - labels:
      preset-docker-push-repository-gke-integration: "true" # Needed for kyma installer image
    env:
      - name: DOCKER_PUSH_REPOSITORY
        value: "eu.gcr.io/sap-kyma-prow"
  - labels:
      preset-docker-push-repository-test-infra: "true"
    env:
      - name: DOCKER_PUSH_REPOSITORY
        value: "eu.gcr.io/kyma-project/test-infra"
  - labels:
      preset-docker-push-repository-incubator: "true"
    env:
      - name: DOCKER_PUSH_REPOSITORY
        value: "eu.gcr.io/kyma-project/incubator"
  - labels:
      preset-build-pr: "true"
    env:
      - name: BUILD_TYPE
        value: pr
      - name: DOCKER_PUSH_DIRECTORY
        value: "/pr"
  - labels:
      preset-build-master: "true"
    env:
      - name: BUILD_TYPE
        value: master
      - name: DOCKER_PUSH_DIRECTORY
        value: "/develop"
  - labels:
      preset-build-console-master: "true"
    env:
      - name: BUILD_TYPE
        value: master
  - labels:
      preset-build-release: "true"
    env:
      - name: BUILD_TYPE
        value: release
  - labels:
      preset-bot-npm-token: "true"
    env:
      - name: BOT_NPM_TOKEN
        valueFrom:
          secretKeyRef:
            name: kyma-bot-npm-token
            key: token
  - labels:
      preset-bot-github-token: "true"
    env:
      - name: BOT_GITHUB_TOKEN
        valueFrom:
          secretKeyRef:
            name: kyma-bot-github-token
            key: token
  - labels:
      preset-bot-github-identity: "true"
    env:
      - name: BOT_GITHUB_EMAIL
        value: "kyma.bot@sap.com"
      - name: BOT_GITHUB_USER
        value: "Kyma Bot"
  - labels:
      preset-bot-github-ssh: "true"
    env:
      - name: BOT_GITHUB_SSH_PATH
        value: /etc/credentials/kyma-bot-github-ssh/key.pem
    volumes:
      - name: kyma-bot-github-ssh
        secret:
          secretName: kyma-bot-github-ssh
    volumeMounts:
      - name: kyma-bot-github-ssh
        mountPath: /etc/credentials/kyma-bot-github-ssh
        readOnly: true
  - labels:
      preset-kyma-artifacts-bucket: "true"
    env:
      - name: KYMA_ARTIFACTS_BUCKET
        value: gs://kyma-prow-artifacts
  - labels:
      preset-slack-notifications: "true"
    env:
      - name: SLACK_CLIENT_WEBHOOK_URL
        value: https://sap-cx.slack.com/services/hooks/jenkins-ci
      - name: SLACK_CLIENT_CHANNEL_ID
        value: "#c4core-kyma-ci-force"
      - name: SLACK_CLIENT_TOKEN
        value: dummy-token
  - labels:
      preset-kyma-github-release-file-path: "true"
    env:
      - name: KYMA_RELEASE_VERSION_FILE_PATH
        value: /home/prow/go/src/github.com/kyma-project/test-infra/prow/RELEASE_VERSION

branch-protection:
  enforce_admins: false
  required_pull_request_reviews:
    dismiss_stale_reviews: false
    require_code_owner_reviews: true
    required_approving_review_count: 1
  # all jobs that have ContextRequired() set to true are also treated as required_status_checks, so there is no point to mention it here.
  required_status_checks:
    contexts:
      - license/cla
  orgs:
    kyma-project:
      repos:
        test-infra:
          branches:
            master:
              protect: true
        kyma:
          branches:
            master:
              protect: true
            release-0.6:
              protect: true
              required_status_checks:
                contexts:
                  # TODO this is just an example
                  - kyma-integration
                  - kyma-gke-integration
        website:
          branches:
            master:
              protect: true
        community:
          branches:
            master:
              protect: true
        examples:
          branches:
            master:
              protect: true
        console:
          branches:
            master:
              protect: true
        bundles:
          branches:
            master:
              protect: true
        luigi:
          required_pull_request_reviews:
            dismiss_stale_reviews: false
            require_code_owner_reviews: true
            required_approving_review_count: 2
          branches:
            master:
              protect: true
    kyma-incubator:
      repos:
        varkes:
          branches:
            master:
              protect: true
        kymactl:
          branches:
            master:
              protect: true
        vstudio-extension:
          branches:
            master:
              protect: true
        service-catalog-tester:
          branches:
            master:
              protect: true

plank:
  job_url_template: 'https://status.build.kyma-project.io/view/gcs/kyma-prow-logs/{{if eq .Spec.Type "presubmit"}}pr-logs/pull{{else if eq .Spec.Type "batch"}}pr-logs/pull{{else}}logs{{end}}{{if .Spec.Refs}}{{if ne .Spec.Refs.Org ""}}/{{.Spec.Refs.Org}}_{{.Spec.Refs.Repo}}{{end}}{{end}}{{if eq .Spec.Type "presubmit"}}/{{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}{{else if eq .Spec.Type "batch"}}/batch{{end}}/{{.Spec.Job}}/{{.Status.BuildID}}/'
  job_url_prefix: 'https://status.build.kyma-project.io/view/gcs/'
  allow_cancellations: true # AllowCancellations enables aborting presubmit jobs for commits that have been superseded by newer commits in Github pull requests.
  max_concurrency: 30 # Limit of concurrent ProwJobs. Need to be adjusted depending of the cluster size.
  pod_pending_timeout: 60m
  default_decoration_config:
    timeout: 7200000000000 # 2h
    grace_period: 15000000000 # 15s
    utility_images:
      clonerefs: "gcr.io/k8s-prow/clonerefs:v20181019-08e9d55c9"
      initupload: "gcr.io/k8s-prow/initupload:v20181019-08e9d55c9"
      entrypoint: "gcr.io/k8s-prow/entrypoint:v20181019-08e9d55c9"
      sidecar: "gcr.io/k8s-prow/sidecar:v20181019-08e9d55c9"
    gcs_configuration:
      bucket: kyma-prow-logs
      path_strategy: "explicit"
    gcs_credentials_secret: "sa-gcs-plank" # Service account with "Object Admin" role

deck:
  spyglass:
    size_limit: 500000000 # 500MB
    viewers:
      "started.json|finished.json": ["metadata-viewer"]
      "build-log.txt": ["build-log-viewer"]
      "artifacts/junit.*\\.xml": ["junit-viewer"]
  branding:
    header_color: "#0b74de" # Kyma color
    logo: "extensions/logo.svg"
    favicon: "extensions/favicon.png"
    

push_gateway:
  endpoint: pushgateway
  interval: 10s