name: build-image-builder.yml
# description: "Build image-builder image for image-builder application."
on:
  # This workflow is triggered by workflow controller.
  workflow_call:

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  build-image:
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: image-builder
      dockerfile: cmd/image-builder/Dockerfile
      context: .
      platforms: |
        linux/amd64