name: build-github-webhook-gateway
on:
  pull_request_target:
    types: [ opened, synchronize, reopened, ready_for_review ]
    paths:
      - "cmd/cloud-run/github-webhook-gateway/*.go"
      - "cmd/cloud-run/github-webhook-gateway/Dockerfile"
      - "pkg/**"
      - "go.mod"
      - "go.sum"
  push:
    branches:
      - main
    paths:
      - "cmd/cloud-run/github-webhook-gateway/*.go"
      - "cmd/cloud-run/github-webhook-gateway/Dockerfile"
      - "pkg/**"
      - "go.mod"
      - "go.sum"
  workflow_dispatch: {}

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  build-image:
    uses: ./.github/workflows/image-builder.yml
    with:
      name: github-webhook-gateway
      dockerfile: cmd/cloud-run/github-webhook-gateway/Dockerfile
      context: .
      platforms: |
        linux/amd64
