name: build-oidc-token-verifier.yml
# description: "Build test-infra/cmd/oidc-token-verifier image for image-builder application."
on:
  workflow_call:
  push:
    branches:
      - main
    paths:
      - "cmd/oidc-token-verifier/**"
      - "pkg/**"
      - "go.mod"
      - "go.sum"

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  build-image:
    uses: ./.github/workflows/image-builder.yml
    with:
      name: test-infra/oidc-token-verifier
      dockerfile: cmd/oidc-token-verifier/Dockerfile
      context: .
      build-engine: buildx
      platforms: |
        linux/amd64