name: build-image-autobumper
on:
  pull_request_target:
    types: [ opened, edited, synchronize, reopened, ready_for_review ]
    paths:
      - 'cmd/image-autobumper/Dockerfile'
      - 'cmd/image-autobumper/**'
      - 'pkg/github/bumper/**'
      - "go.mod"
      - "go.sum"
  push:
    branches:
      - main
    paths:
      - 'cmd/image-autobumper/Dockerfile'
      - 'cmd/image-autobumper/**'
      - 'pkg/github/bumper/**'
      - 'go.mod'
      - 'go.sum'
  workflow_dispatch: {}

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout
  
jobs:
  build-image:
    uses: ./.github/workflows/image-builder.yml
    with:
      name: image-autobumper
      dockerfile: cmd/image-autobumper/Dockerfile
      context: .
      platforms: |
        linux/amd64
