name: build-image-url-helper
on:
  # This workflow is triggered by the workflow controller.
  workflow_call:
  pull_request_target:
    types: [ opened, synchronize, reopened, ready_for_review ]
    paths:
      - "cmd/image-url-helper/*.go"
      - "cmd/image-url-helper/Dockerfile"
      - "pkg/**"
      - "go.mod"
      - "go.sum"
  push:
    branches:
      - main
    paths:
      - "cmd/image-url-helper/*.go"
      - "cmd/image-url-helper/Dockerfile"
      - "pkg/**"
      - "go.mod"
      - "go.sum"
  workflow_dispatch: {}

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  build-image:
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: image-url-helper
      dockerfile: cmd/image-url-helper/Dockerfile
      context: .
      build-engine: buildx
      platforms: |
        linux/amd64
