name: build-slack-message-sender.yml
#  description: "Build slack-message-sender image for sending labeling notification to kyma teams.
on:
  # This workflow is triggered by workflow controller.
  workflow_call:
  pull_request_target:
    types: [ opened, edited, synchronize, reopened, ready_for_review ]
    paths:
      - "cmd/cloud-run/slackmessagesender/**"
  push:
    branches:
      - main
    paths:
      - "cmd/cloud-run/slackmessagesender/**"

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  build-image:
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: test-infra/slackmessagesender
      dockerfile: cmd/cloud-run/slackmessagesender/Dockerfile
      context: .
      build-engine: buildx
      platforms: |
        linux/amd64