name: build-slack-message-sender.yml
#  description: "Build slack-message-sender image for sending labeling notification to kyma teams.
on:
  # This workflow is triggered by workflow controller.
  workflow_call:
  workflow_dispatch: # This allows manual triggering of the workflow from the Actions tab

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  build-image:
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: test-infra/slackmessagesender
      dockerfile: cmd/cloud-run/slackmessagesender/Dockerfile
      context: .
      platforms: |
        linux/amd64