name: build-service-account-keys-cleaner.yml
#  description: Build image for service-account-keys-cleaner
on:
  workflow_call:
  push:
    branches:
      - main
    paths:
      - "cmd/cloud-run/service-account-keys-cleaner/Dockerfile"
      - "cmd/cloud-run/service-account-keys-cleaner/*.go"
      - "pkg/**"
      - "go.mod"
      - "go.sum"

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  build-image:
    uses: ./.github/workflows/image-builder.yml
    with:
      name: test-infra/service-account-keys-cleaner
      dockerfile: cmd/cloud-run/service-account-keys-cleaner/Dockerfile
      context: .
      build-engine: buildx
      platforms: |
        linux/amd64