name: build-automated-approver
on:
  # This workflow is triggered by the workflow controller.
  workflow_call:
  
permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  build-image:
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: automated-approver
      dockerfile: cmd/external-plugins/automated-approver/Dockerfile
      context: .
      platforms: |
        linux/amd64
