name: build-cors-proxy
on:
  # This workflow is triggered by the workflow controller.
  workflow_call:

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  build-image:
    uses: ./.github/workflows/image-builder.yml
    with:
      name: cors-proxy
      dockerfile: cmd/cloud-run/cors-proxy/Dockerfile
      context: .
      build-engine: buildx
      platforms: |
        linux/amd64
