name: build-markdown-index
on:
  workflow_call:
  push:
    branches:
      - main
    paths:
      - "cmd/markdown-index/*.go"
      - "cmd/markdown-index/Dockerfile"
      - "pkg/**"
      - "go.mod"
      - "go.sum"
  workflow_dispatch: {}

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  build-image:
    uses: ./.github/workflows/image-builder.yml
    with:
      name: markdown-index
      dockerfile: cmd/markdown-index/Dockerfile
      context: .
      build-engine: buildx
      platforms: |
        linux/amd64
