name: build-signify-secret-rotator
#  description: "Build signify-secret-rotator image for rotating signify certificates.
on:
  # This workflow is triggered by workflow controller.
  workflow_call:
 
permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  build-image:
    uses: ./.github/workflows/image-builder.yml
    with:
      name: test-infra/signify-secret-rotator
      dockerfile: cmd/cloud-run/signifysecretrotator/Dockerfile
      context: .
      build-engine: buildx
      platforms: |
        linux/amd64