name: build-service-account-keys-cleaner.yml
#  description: Build image for service-account-keys-cleaner
on:
  # This workflow is triggered by workflow controller.
  workflow_call:

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  build-image:
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@refs/heads/main
    with:
      name: test-infra/service-account-keys-cleaner
      dockerfile: cmd/cloud-run/service-account-keys-cleaner/Dockerfile
      context: .
      build-engine: buildx
      platforms: |
        linux/amd64