name: build-signify-secret-rotator
#  description: "Build signify-secret-rotator image for rotating signify certificates.
on:
  pull_request_target:
    types: [ opened, edited, synchronize, reopened, ready_for_review ]
    paths:
      - "cmd/cloud-run/signifysecretrotator/**"
  push:
    branches:
      - main
    paths:
      - "cmd/cloud-run/signifysecretrotator/**"
 
permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  build-image:
    uses: ./.github/workflows/image-builder.yml
    with:
      name: test-infra/signify-secret-rotator
      dockerfile: cmd/cloud-run/signifysecretrotator/Dockerfile
      context: .
      platforms: |
        linux/amd64