on:
  pull_request_target:
    types: [ opened, edited, synchronize, reopened, ready_for_review ]

jobs:
  get_oidc_token_job:
    permissions:
      id-token: write # This is required for requesting the JWT token
      contents: read  # This is required for actions/checkout
    runs-on: ubuntu-latest
    name: A job to get OIDC token
    steps:
     # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: cd .github/actions/expose-jwt-action
      - run: npm init -y
      - run: npm install @actions/core
      - run: npm install @actions/github
      # This action is used to expose the JWT token from the OIDC provider and set is as an output and an environment variable
      - uses: ./.github/actions/expose-jwt-action
        name: Expose JWT token