name: Get OIDC Token Workflow

on: workflow_dispatch
#  pull_request_target:
#    types: [ opened, edited, synchronize, reopened, ready_for_review ]

jobs:
  call_reusable_workflow:
   uses: kyma-project/test-infra/.github/workflows/reusable-workflow.yml@refs/pull/10369/merge
