name: gitleaks
on:
  pull_request_target:
  workflow_dispatch:
jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    permissions:
      contents: "read" # needed for gcp_auth
      id-token: "write" # needed for gcp_auth to create id token
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ vars.GH_COM_KYMA_PROJECT_GCP_WORKLOAD_IDENTITY_FEDERATION_PROVIDER }}
          service_account: ${{ vars.GCP_GITLEAKS_SECRET_ACCESOR_SERVICE_ACCOUNT_EMAIL }}
      - name: Retrieve Gitleaks License
        id: license
        uses: google-github-actions/get-secretmanager-secrets@v2
        with:
          secrets: |-
            gitleaks-license-key:${{ vars.GCP_KYMA_PROJECT_PROJECT_ID }}/${{ vars.GH_GITLEAKS_LICENSE_SECRET_NAME}}
      - uses: gitleaks/gitleaks-action@e6dab246340401bf53eec993b8f05aebe80ac636 #v2.3.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ steps.license.outputs.gitleaks-license-key }}
          GITLEAKS_VERSION: 8.18.2
          GITLEAKS_CONFIG: .gitleaks.toml