name: image-syncer

on:
  workflow_call:
    inputs:
      dry-run:
        description: "Dry run mode"
        required: false
        type: boolean
        default: false
      debug:
        description: "Debug mode"
        required: false
        type: boolean
        default: false
    secrets:
      env_file:
        description: ".env file content for registry authentication"
        required: false

jobs:
  sync-images:
    permissions:
      id-token: write # This is required for requesting the JWT token
      contents: read # This is required for actions/checkout
    runs-on: ubuntu-latest
    name: Sync images
    steps:
      - name: Verify repository owner
        id: verify_repo_owner
        if: ${{ github.repository_owner != 'kyma-project' }}
        run: |
          echo "Using image-syncer workflow outside of kyma-project organisation is not supported."
          exit 1

      - name: Checkout
        uses: kyma-project/test-infra/.github/actions/checkout@main

      # Set the dry-run flag based on the event type.
      # Dry-run flag is enforced for workflow runs triggered by pull requests.
      - name: Set dry-run flag
        id: set_dry_run_flag
        run: |
          if [ "${{ github.event_name }}" == 'push' ]; then
            echo "DRY_RUN=${{ inputs.dry-run }}" >> $GITHUB_OUTPUT
          elif [ "${{ github.event_name }}" == 'pull_request_target' ] || [ "${{ github.event_name }}" == 'pull_request' ]; then
            echo "::notice title=Force dry-run::Forcing dry-run mode for pull requests"
            echo "DRY_RUN=true" >> $GITHUB_OUTPUT
          fi

      # Get the image-syncer service account based on the event type.
      # Service account is used to authenticate in GCP.
      # Different service accounts have different permissions.
      # Workflow running for pull request must not have write permissions.
      - name: Get image-syncer gcp service account
        id: get_image_syncer_gcp_service_account
        run: |
          if [ "${{ github.event_name }}" == 'push' ]; then
            echo "IMAGE_SYNCER_SA_EMAIL=${{ vars.IMAGE_SYNCER_WRITER_SERVICE_ACCOUNT_EMAIL }}" >> $GITHUB_OUTPUT
          elif [ "${{ github.event_name }}" == 'pull_request_target' ]; then
            echo "IMAGE_SYNCER_SA_EMAIL=${{ vars.IMAGE_SYNCER_READER_SERVICE_ACCOUNT_EMAIL }}" >> $GITHUB_OUTPUT
          else
            echo "::error title=Unsupported event::Unsupported event: ${{ github.event_name }}"
            exit 1
          fi

      # Using access-token as it can be used directly as a bearer token.
      #
      - name: Authenticate in GCP
        id: authenticate_in_gcp
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3
        with:
          project_id: ${{ vars.GCP_KYMA_PROJECT_PROJECT_ID }}
          workload_identity_provider: ${{ vars.GH_COM_KYMA_PROJECT_GCP_WORKLOAD_IDENTITY_FEDERATION_PROVIDER }}
          token_format: "access_token"
          request_reason: "${{ github.repository_owner }}/${{ github.repository }}/${{ github.workflow }}/${{ github.run_id }}"
          # service_account is required for the token_format "access_token"
          service_account: ${{ steps.get_image_syncer_gcp_service_account.outputs.IMAGE_SYNCER_SA_EMAIL }}

      - name: Create .env file
        run: |
          if [ -n "$ENV_FILE_CONTENT" ]; then
            echo "$ENV_FILE_CONTENT" > .env
          fi
        env:
          ENV_FILE_CONTENT: ${{ secrets.env_file }}

      - name: Sync Images
        id: sync_images
        run: |
          ENV_FILE_ARG=""
          if [ -f .env ]; then
            ENV_FILE_ARG="--env-file .env"
          fi

          docker run \
          --workdir /github/workspace \
          --rm \
          --volume "$GITHUB_WORKSPACE:/github/workspace" \
          $ENV_FILE_ARG \
          europe-docker.pkg.dev/kyma-project/prod/image-syncer:v20260225-f2cca648 \
          --images-file=/github/workspace/external-images.yaml \
          --access-token=${{ steps.authenticate_in_gcp.outputs.access_token }} \
          --dry-run=${{ steps.set_dry_run_flag.outputs.DRY_RUN }} \
          --debug=${{ inputs.debug }}