name: pull-go-lint

on:
  # This workflow is triggered by workflow controller.
  workflow_call:
    

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR code
        uses: kyma-project/test-infra/.github/actions/checkout@main

      - name: Set up Go
        uses: actions/setup-go@v6

      - uses: golangci/golangci-lint-action@v8.0.0