name: pull-gitleaks
on:
  # This workflow is triggered by workflow controller.
  workflow_call:  
  pull_request:
    types: [opened, edited, synchronize, reopened, ready_for_review]

env:
  GITLEAKS_VERSION: 8.18.2

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Verify merge commit sha
        id: verify_merge_commit_sha
        run: |
          if [ -z "${{ github.event.pull_request.merge_commit_sha }}" ]; then
            echo "::error title=PR Commit Merge Error::The pull request does not have a merge commit SHA. Skipping the workflow. Please create a new empty commit using the --allow-empty flag and try again."
            exit 1
          fi
        if: ${{ github.event_name == 'pull_request_target' && github.event_name != 'pull_request' }}
      - name: Checkout PR merge commit
        id: checkout_pr_merge_commit
        uses: actions/checkout@v4
        with:
          ref: "${{ github.event.pull_request.merge_commit_sha }}"
        if: ${{ github.event_name == 'pull_request_target' && github.event_name != 'pull_request' }}
      - name: Checkout branch
        id: checkout_branch
        uses: actions/checkout@v4
        if: ${{ github.event_name != 'pull_request_target' && github.event_name != 'pull_request' }}

      - name: Fetch gitleaks ${{ env.GITLEAKS_VERSION }}
        run: curl -Lso gitleaks.tar.gz https://github.com/gitleaks/gitleaks/releases/download/v${{ env.GITLEAKS_VERSION }}/gitleaks_${{ env.GITLEAKS_VERSION }}_linux_x64.tar.gz && tar -xvzf ./gitleaks.tar.gz
      - name: Run gitleaks
        # Scan commits between base and head of the pull request
        run: ./gitleaks detect --log-opts=${PULL_BASE_SHA}...${PULL_HEAD_SHA} --verbose --redact -c .gitleaks.toml
        env: 
          PULL_BASE_SHA: ${{ github.event.pull_request.base.sha }}
          PULL_HEAD_SHA: ${{ github.event.pull_request.head.sha }}