name: Pull Plan Prod Terraform
run-name: pull-plan-prod-terraform
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
on:
  # This workflow is triggered by workflow controller.
  workflow_call:
    
jobs:
  pull-plan-prod-terraform:
    permissions:
      contents: "read" # needed for gcp_auth
      id-token: "write" # needed for gcp_auth to create id token
      issues: "write" # needed for tfcmt to post comments
      pull-requests: "write" # needed for tfcmt to post comments

    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR code
        uses: kyma-project/test-infra/.github/actions/checkout@main

      - name: Wait for other terraform executions
        id: wait_for_terraform
        uses: ahmadnassri/action-workflow-queue@542658b3a8270cac81ae15d401b0d974732808ac

      - name: Authenticate to GCP
        id: gcp_auth
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ vars.GH_COM_KYMA_PROJECT_GCP_WORKLOAD_IDENTITY_FEDERATION_PROVIDER }}
          service_account: ${{ vars.GCP_TERRAFORM_PLANNER_SERVICE_ACCOUNT_EMAIL }}
      
      - name: Retrieve Terraform Planner github PAT
        id: secrets
        uses: google-github-actions/get-secretmanager-secrets@v2
        with:
          secrets: |-
             gh-terraform-planner-token:${{ vars.GCP_KYMA_PROJECT_PROJECT_ID }}/${{ vars.GH_TERRAFORM_PLANNER_SECRET_NAME }}

      - name: Setup Terraform
        id: setup_terraform
        uses: opentofu/setup-opentofu@v1

      - name: Setup GitHub comments
        id: setup-github-comment
        uses: shmokmt/actions-setup-github-comment@1299f2274bfb3cd0c35f867160a6fb74fd82fdf8
        with:
          version: v6.0.2
        if: ${{ !cancelled() }}

      - name: setup tfcmt
        id: setup-tfcmt
        uses: shmokmt/actions-setup-tfcmt@04d5aa6dc61eaa69a4d00257224c9b97f4857819
        with:
          version: v4.7.1

      - name: Terraform Init
        id: terraform_init
        run: tofu -chdir=./configs/terraform/environments/prod init -input=false

      - name: Terraform Plan
        env:
          GITHUB_TOKEN: ${{ steps.secrets.outputs.gh-terraform-planner-token }}
        id: terraform_plan
        run: tfcmt -owner $GITHUB_REPOSITORY_OWNER -repo ${{ github.event.repository.name }} -pr ${{ github.event.pull_request.number || 0 }} -sha ${{ github.event.pull_request.head.sha || github.event.merge_group.head_sha }} plan -- tofu -chdir=./configs/terraform/environments/prod plan -input=false -no-color -lock-timeout=300s

      - name: Hide GitHub comment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        id: hide-github-comment
        run: github-comment hide --org $GITHUB_REPOSITORY_OWNER --repo ${{ github.event.repository.name }} -pr ${{ github.event.pull_request.number }} -sha1 ${{ github.event.pull_request.head.sha }}
        if: ${{ !cancelled() && github.event_name == 'pull_request_target' }}
