name: pull-go-lint

on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/pull-go-lint.yaml'
      - '**/*.go'
      - '.golangci.yaml'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4

      - uses: golangci/golangci-lint-action@v6.1.0