name: push-build-image-syncer
on:
  push:
    branches:
      - main
    paths:
      - "cmd/image-syncer/*.go"
      - "cmd/image-syncer/Dockerfile"
      - "pkg/**"
      - "go.mod"
      - "go.sum"

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  build-image:
    uses: ./.github/workflows/image-builder.yml
    with:
      name: image-syncer
      dockerfile: cmd/image-syncer/Dockerfile
      context: .
  print-image:
    runs-on: ubuntu-latest
    needs: build-image
    steps:
      - name: Print image
        run: echo "Image built ${{ needs.build-image.outputs.images }}"# (2025-03-04)