name: Reusable Workflow

on: workflow_call
    
jobs:
  get_oidc_token_job:
    permissions:
      id-token: write # This is required for requesting the JWT token
      contents: read  # This is required for actions/checkout
    runs-on: ubuntu-latest
    name: A job to get OIDC token
    steps:

      - name: Checkout test-infra repository
        uses: actions/checkout@v4
        with:
          repository: kyma-project/test-infra
          ref: main
      - name: Install Node.js and needed dependencies
        uses: ./.github/actions/expose-jwt-action/install
      - name: Expose JWT Action
        id: get_oidc
        uses: ./.github/actions/expose-jwt-action
      - name: Verify OIDC Token in Node.js
        run: |
          const oidc_token = "${{ steps.get_oidc.outputs.jwt }}";
          const payload = JSON.parse(Buffer.from(oidc_token.split('.')[1], 'base64').toString());
      
          // Define the expected values for issuer and job workflow ref
          const ISS_EXPECTED = "https://token.actions.githubusercontent.com";
          const JOB_WORKFLOW_REF_EXPECTED = "kyma-project/test-infra/.github/workflows/reusable-workflow.yml@refs/heads/main";
      
          // Check if the 'iss' field matches the expected value
          if (payload.iss !== ISS_EXPECTED) {
            console.error(`Issuer (iss) does not match the expected value. Found: ${payload.iss}, expected: ${ISS_EXPECTED}`);
            process.exit(1); // Exit with error if the value does not match
          } else {
            console.log("Issuer (iss) matches the expected value.");
          }
      
          // Check if the 'job_workflow_ref' field matches the expected value
          if (payload.job_workflow_ref !== JOB_WORKFLOW_REF_EXPECTED) {
            console.error(`Job workflow ref does not match the expected value. Found: ${payload.job_workflow_ref}, expected: ${JOB_WORKFLOW_REF_EXPECTED}`);
            process.exit(1); // Exit with error if the value does not match
          } else {
            console.log("Job workflow ref matches the expected value.");
          }
        shell: node {0}